{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p><a href="{% url 'd_checklists' %}">{% trans "Checklists" %}</a> &raquo; {{ checklist.name}}</p>

<ul class="tabs" data-tabs id="checklist-tabs">
    <li class="tabs-title {% if tab_id == 1 %} is-active{% endif %}">
        <a data-tabs-target="general" href="#general">{% trans "General" %}</a>
    </li>
    <li class="tabs-title {% if tab_id == 2 %} is-active{% endif %}">
        <a data-tabs-target="items" href="#items">{% trans "Items" %}
        {% if chapters.count > 0 %}({{ chapters.count }}){% endif %}</a>
    </li>
</ul>

<div class="tabs-content" data-tabs-content="checklist-tabs">
    <div class="tabs-panel {% if tab_id == 1 %}is-active{% endif %}" id="general">
        <a href="{% url 'd_checklist_update' pk=checklist.id %}" class="button small">{% trans "Update" %}</a>
        <a href="{% url 'd_checklist_delete' pk=checklist.id %}" class="button alert small">{% trans "Delete" %}</a>

        <table class="hover unstriped">
            <tbody>
            <tr>
                <td>{% trans "Name" %}:</td>
                <td>{{ checklist.name }}</td>
            </tr>
            <tr>
                <td>{% trans "Description" %}:</td>
                <td>{{ checklist.desc }}</td>
            </tr>
            <tr>
                <td>{% trans "Created" %}:</td>
                <td>{{ checklist.created_at }} ({{ checklist.created_by }})</td>
            </tr>
            <tr>
                <td>{% trans "Last Update" %}:</td>
                <td>{{ checklist.updated_at }} ({{ checklist.updated_by }})</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="tabs-panel {% if tab_id == 2 %}is-active{% endif %}" id="items">
        <a href="{% url 'd_cl_item_create' cl_id=checklist.id %}" class="button small">{% trans "Add" %}</a>
        <a href="{# url 'd_cl_items_clear' cl_id=checklist.id #}" class="button small alert">{% trans "Clear" %}</a>

        <table>
            {% for item in checklist.d_checklist_item.all|dictsort:"id" %}
            <tr>
                <td>{{ item.name }}
                    <a href="{% url 'd_cl_item_update' pk=item.id %}"><i class="step fi-pencil"></i></a>
                    <a href="{% url 'd_cl_item_delete' pk=item.id %}">
                        <i class="step fi-minus" style="color: #bc104b"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
