{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<a href="create/" class="button">{% trans "Create" %}</a>

<table id="custom_fields" class="display" style="width:100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>{% trans "Name" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for custom_field in custom_fields %}
    <tr>
        <td>{{ custom_field.id }}</td>
        <td>{{ custom_field.name }}</td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>ID</th>
        <th>{% trans "Name" %}</th>
    </tr>
    </tfoot>
</table>

<script>
  $(document).ready(function() {
      var table = $('#custom_fields').DataTable( {
      {% if LANGUAGE_CODE == 'ru' %}
          "language": { "url": "{% static '/DataTables/i18n/Russian.json' %}" },
      {% endif %}
          "order": [[ 0, "desc" ]]
      } );

      $('#custom_fields tbody').on('click', 'tr', function () {
          var data = table.row( this ).data();
		  window.open(data[0]+"/","_self");
      } );
  } );
</script>

<script type="text/javascript" src="{% static 'DataTables/datatables.js' %}"></script>

{% endblock %}
