{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p><a href="{% url 'devices' %}">{% trans "Devices" %}</a> &raquo; {{ device.vendor }} {{ device.model }} ({{ device.hw }})</p>

<ul class="tabs" data-tabs id="example-tabs">
    <li class="tabs-title"><a href="#panel1" aria-selected="true">{% trans "General" %}</a></li>
    <li class="tabs-title is-active"><a data-tabs-target="panel2" href="#panel2">{% trans "Specifications" %}</a></li>
    <li class="tabs-title"><a data-tabs-target="panel3" href="#panel3">{% trans "Firmware" %}</a></li>
    <li class="tabs-title"><a data-tabs-target="panel4" href="#panel4">{% trans "Photo" %}</a></li>
    <li class="tabs-title"><a data-tabs-target="panel5" href="#panel5">{% trans "Documentation" %}</a></li>
    <li class="tabs-title"><a data-tabs-target="panel6" href="#panel6">{% trans "Samples" %}</a></li>
    <li class="tabs-title"><a data-tabs-target="panel7" href="#panel7">{% trans "Protocols" %}</a></li>
    <li class="tabs-title"><a data-tabs-target="panel8" href="#panel8">{% trans "Redmine" %}</a></li>
</ul>

<div class="tabs-content" data-tabs-content="example-tabs">
    <div class="tabs-panel" id="panel1">
        <a href="{% url 'device_update' pk=device.id %}" class="button small">{% trans "Update" %}</a>
        <a href="{% url 'device_delete' pk=device.id %}" class="button alert small">{% trans "Delete" %}</a>

        <table class="hover unstriped">
            <tbody>
            <tr>
                <td>{% trans "Type" %}:</td>
                <td>{{ device.type }}</td>
            </tr>
            <tr>
                <td>{% trans "Vendor" %}:</td>
                <td>{{ device.vendor }}</td>
            </tr>
            <tr>
                <td>{% trans "Model" %}:</td>
                <td>{{ device.model }}</td>
            </tr>
            <tr>
                <td>{% trans "HW" %}:</td>
                <td>{{ device.hw }}</td>
            </tr>
            <tr>
                <td>{% trans "Created by" %}:</td>
                <td>{{ device.created_by }}</td>
            </tr>
            <tr>
                <td>{% trans "Created at" %}:</td>
                <td>{{ device.created_at }}</td>
            </tr>
            <tr>
                <td>{% trans "Updated by" %}:</td>
                <td>{{ device.updated_by }}</td>
            </tr>
            <tr>
                <td>{% trans "Updated at" %}:</td>
                <td>{{ device.updated_at }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="tabs-panel is-active" id="panel2">
        <a href="{% url 'device_update_spec' pk=device.id %}" class="button small">{% trans "Update" %}</a>
        {% for spec in specs %}
        <ul style="list-style: none">
            <li>
                <b>{{ spec.name }}:</b>
                {% for value in spec.values %}
                <ul style="list-style: none">
                    <li>{{ value }}</li>
                </ul>
                {% endfor %}
            </li>
        </ul>
        {% endfor %}
    </div>

    <div class="tabs-panel" id="panel3">
        <a href="{% url 'firmware_create' device_id=device.id %}" class="button small">{% trans "Add" %}</a>

        <p>
            {% for fw in fws %}
            <a href="{% url 'firmware_update' device_id=device.id pk=fw.id %}">{{ fw.version }}</a>
            <a href="{% url 'firmware_delete' device_id=device.id pk=fw.id %}"><i class="step fi-minus" style="color: #bc104b"></i></a>
            <br>
            {% endfor %}
        </p>

    </div>

    <div class="tabs-panel" id="panel4">
        <a href="{% url 'photo_create' device_id=device.id %}" class="button small">{% trans "Add" %}</a>

        {% if photos %}

        <div class="product-image-gallery">
            <ul class="menu product-thumbs align-center">
                {% for photo in photos %}
                  <li> <a class="sim-thumb" data-image="{{ photo.photo.url }}">
                      <img src="{{ photo.photo.url }}" height="100" width="100" alt="{{ photo.desc }}"></a> </li>
                {% endfor %}
            </ul>

            <p align="center">
                <img class="pdp-product-image" id="main-product-image" src="{{ photos.0.photo.url }}"
                     alt="" style="max-width: 800px">
            </p>
            <br>

        </div>
        {% endif %}

        <p>
            {% for photo in photos %}
            {{ photo.desc }}<br>
            <a href="{% url 'photo_update' device_id=device.id pk=photo.id %}">{{ photo.photo }}</a>
            <a href="{% url 'photo_delete' device_id=device.id pk=photo.id %}"><i class="step fi-minus" style="color: #bc104b"></i></a><br>
            <br>
            {% endfor %}
        </p>

    </div>

    <div class="tabs-panel" id="panel5">
        <a href="{% url 'docum_create' device_id=device.id %}" class="button small">{% trans "Add" %}</a>
        <p>
            {% for docum in docums %}
            {{ docum.type }}<br>
            <a href="{% url 'docum_update' device_id=device.id pk=docum.id %}">{{ docum.file }}</a>
            <a href="{% url 'docum_delete' device_id=device.id pk=docum.id %}"><i class="step fi-minus" style="color: #bc104b"></i></a><br>
            <br>
            {% endfor %}
        </p>
    </div>

    <div class="tabs-panel" id="panel6">
        <a href="{% url 'sample_create' device_id=device.id %}" class="button small">{% trans "Add" %}</a>
        {% if samples %}
        <table id="samples" class="display" style="width:100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>{% trans "Serial Number" %}</th>
                <th>{% trans "User Login" %}</th>
                <th>{% trans "User Password" %}</th>
                <th>{% trans "Support Login" %}</th>
                <th>{% trans "Support Password" %}</th>
                <th>{% trans "Description" %}</th>
            </tr>
            </thead>
            <tbody>
        {% endif %}
            {% for sample in samples %}
        <tr>
            <td>{{ sample.id }}</td>
            <td>{{ sample.sn }}</td>
            <td>{{ sample.user_login }}</td>
            <td>{{ sample.user_password }}</td>
            <td>{{ sample.support_login }}</td>
            <td>{{ sample.support_password }}</td>
            <td>{% if sample.desc %}
                  {{ sample.desc }}
                {% endif %}
            </td>
        </tr>
            {% endfor %}
        {% if samples %}
            </tbody>
        </table>
        {% endif %}
    </div>

    <div class="tabs-panel" id="panel7">
        <a href="{% url 'protocol_create' device_id=device.id %}" class="button small">{% trans "Add" %}</a>
        {% if protocols %}
        <table id="protocols" class="display" style="width:100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>{% trans "Firmware" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Started" %}</th>
                <th>{% trans "Completed" %}</th>
                <th>{% trans "Created by" %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
        {% endif %}
            {% for protocol in protocols %}
        <tr>
            <td>{{ protocol.id }}</td>
            <td>{{ protocol.firmware }}</td>
            <td>
                {% if protocol.status == None %}
                Testing in progress
                {% else %}
                {{ protocol.status }}
                {% endif %}
            </td>
            <td>{{ protocol.started }}</td>
            <td>
                {% if protocol.completed != None %}
                {{ protocol.completed }}
                {% endif %}
            </td>
            <td>{{ protocol.created_by }}</td>
            <td>
                <a href="{% url 'protocol_update' device_id=device.id pk=protocol.id %}"><i class="step fi-pencil"></i></a>
                <a href="{% url 'protocol_delete' device_id=device.id pk=protocol.id %}"><i class="step fi-minus" style="color: #bc104b"></i></a>
            </td>
        </tr>
            {% endfor %}
        {% if protocols %}
            </tbody>
        </table>
        {% endif %}
    </div>

    <div class="tabs-panel" id="panel8">
        <table class="hover unstriped">
            <tbody>
            <tr>
                <td>{% trans "Project Wiki page" %}:</td>
                <td><a href="{{ redmine_url }}{{ device.redmine_url }}/wiki">{{ redmine_url }}{{ device.redmine_url }}/wiki</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
  $(document).ready(function() {
      var table = $('#protocols').DataTable( {
          "paging":  false,
      {% if LANGUAGE_CODE == 'ru' %}
          "language": { "url": "{% static '/DataTables/i18n/Russian.json' %}" },
      {% endif %}
          "order": [[ 0, "desc" ]]
      } );

      $('#protocols tbody').on('click', 'tr', function () {
          var data = table.row( this ).data();
		  window.open("/protocol/"+data[0]+"/","_self");
      } );
  } );
</script>

<script>
  $(document).ready(function() {
      var table = $('#samples').DataTable( {
          "paging":  false,
      {% if LANGUAGE_CODE == 'ru' %}
          "language": { "url": "{% static '/DataTables/i18n/Russian.json' %}" },
      {% endif %}
          "order": [[ 0, "desc" ]]
      } );

      $('#samples tbody').on('click', 'tr', function () {
          var data = table.row( this ).data();
		  window.open("/sample/{{ device.id }}/update/"+data[0]+"/","_self");
      } );
  } );
</script>

<script>
$('.sim-thumb').on('click', function() {
  $('#main-product-image').attr('src', $(this).data('image'));
})
</script>

<script type="text/javascript" src="{% static 'DataTables/datatables.js' %}"></script>

{% endblock %}