{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p><a href="{% url 'devices' %}">{% trans "Devices" %}</a> &raquo; {{ device.vendor }} {{ device.model }} ({{ device.hw }})</p>

<ul class="tabs" data-tabs id="example-tabs">
    <li class="tabs-title"><a href="#panel1" aria-selected="true">{% trans "General" %}</a></li>
    <li class="tabs-title is-active"><a data-tabs-target="panel2" href="#panel2">{% trans "Specifications" %}</a></li>
    <li class="tabs-title"><a data-tabs-target="panel3" href="#panel3">{% trans "Firmware" %}</a></li>
    <li class="tabs-title"><a data-tabs-target="panel4" href="#panel4">{% trans "Photo" %}</a></li>
    <li class="tabs-title"><a data-tabs-target="panel5" href="#panel5">{% trans "Documentation" %}</a></li>
    <li class="tabs-title"><a data-tabs-target="panel6" href="#panel6">{% trans "Protocols" %}</a></li>
    <li class="tabs-title"><a data-tabs-target="panel7" href="#panel7">{% trans "Redmine" %}</a></li>
</ul>

<div class="tabs-content" data-tabs-content="example-tabs">
    <div class="tabs-panel" id="panel1">
        <a href="{% url 'device_update' pk=device.id %}" class="button small">{% trans "Update" %}</a>
        <a href="{% url 'device_delete' pk=device.id %}" class="button alert small">{% trans "Delete" %}</a>

        <table class="hover unstriped">
            <tbody>
            <tr>
                <td>{% trans "Type" %}:</td>
                <td>{{ device.type }}</td>
            </tr>
            <tr>
                <td>{% trans "Vendor" %}:</td>
                <td>{{ device.vendor }}</td>
            </tr>
            <tr>
                <td>{% trans "Model" %}:</td>
                <td>{{ device.model }}</td>
            </tr>
            <tr>
                <td>{% trans "HW" %}:</td>
                <td>{{ device.hw }}</td>
            </tr>
            <tr>
                <td>{% trans "Created by" %}:</td>
                <td>{{ device.created_by }}</td>
            </tr>
            <tr>
                <td>{% trans "Created at" %}:</td>
                <td>{{ device.created_at }}</td>
            </tr>
            <tr>
                <td>{% trans "Updated by" %}:</td>
                <td>{{ device.updated_by }}</td>
            </tr>
            <tr>
                <td>{% trans "Updated at" %}:</td>
                <td>{{ device.updated_at }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="tabs-panel is-active" id="panel2">
        <a href="{% url 'device_update_spec' pk=device.id %}" class="button small">{% trans "Update" %}</a>
        {% for spec in specs %}
        <ul style="list-style: none">
            <li>
                <b>{{ spec.name }}:</b>
                {% for value in spec.values %}
                <ul style="list-style: none">
                    <li>{{ value }}</li>
                </ul>
                {% endfor %}
            </li>
        </ul>
        {% endfor %}
    </div>

    <div class="tabs-panel" id="panel3">
        <a href="{% url 'firmware_create' device_id=device.id %}" class="button small">{% trans "Add" %}</a>

        <p>
            {% for fw in fws %}
            <a href="{% url 'firmware_update' device_id=device.id pk=fw.id %}">{{ fw.version }}</a>
            <a href="{% url 'firmware_delete' device_id=device.id pk=fw.id %}"><i class="step fi-minus" style="color: #bc104b"></i></a>
            <br>
            {% endfor %}
        </p>

    </div>

    <div class="tabs-panel" id="panel4">
        <a href="{% url 'photo_create' device_id=device.id %}" class="button small">{% trans "Add" %}</a>

        <p>
            {% for photo in photos %}
            {{ photo.desc }}<br>
            <a href="{% url 'photo_update' device_id=device.id pk=photo.id %}">{{ photo.photo }}</a>
            <a href="{% url 'photo_delete' device_id=device.id pk=photo.id %}"><i class="step fi-minus" style="color: #bc104b"></i></a><br>
            <br>
            {% endfor %}
        </p>

    </div>

    <div class="tabs-panel" id="panel5">
        <a href="{% url 'docum_create' device_id=device.id %}" class="button small">{% trans "Add" %}</a>

        <p>
            {% for docum in docums %}
            {{ docum.type }}<br>
            <a href="{% url 'docum_update' device_id=device.id pk=docum.id %}">{{ docum.file }}</a>
            <a href="{% url 'docum_delete' device_id=device.id pk=docum.id %}"><i class="step fi-minus" style="color: #bc104b"></i></a><br>
            <br>
            {% endfor %}
        </p>

    </div>

    <div class="tabs-panel" id="panel6">
        <a href="{% url 'protocol_create' device_id=device.id %}" class="button small">{% trans "Create" %}</a>
    </div>

    <div class="tabs-panel" id="panel7">
        <table class="hover unstriped">
            <tbody>
            <tr>
                <td>{% trans "Project URL" %}:</td>
                <td>{{ device.redmine_url }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}