{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p><a href="/" class="exit-off-canvas">&laquo; {% trans "Back" %}</a></p>

<div class="grid-x grid-margin-x">
    <div class="cell medium-6 large-8">
        <div class="callout">
            <h5>{% trans "General Information" %}</h5>
            <div class="grid-x">
                <div class="cell medium-6 large-4">{% trans "Vendor" %}:</div>
                <div class="cell medium-6 large-8">{{ device.vendor }}</div>
            </div>
            <div class="grid-x">
                <div class="cell medium-6 large-4">{% trans "Model" %}:</div>
                <div class="cell medium-6 large-8">{{ device.model }}</div>
            </div>
            <div class="grid-x">
                <div class="cell medium-6 large-4">{% trans "HW" %}:</div>
                <div class="cell medium-6 large-8">{{ device.hw }}</div>
            </div>
            <div class="grid-x">
                <div class="cell medium-6 large-4">{% trans "Type" %}:</div>
                <div class="cell medium-6 large-8">{{ device.type }}</div>
            </div>
            <br>
            <a href="/device/{{ device.id }}/">{% trans "Edit" %}</a>
        </div>
        <div class="callout">
            <h5>{% trans "Additional Information" %}</h5>
            <p>There is no information</p>
            <a href="/device/{{ device.id }}/">{% trans "Edit" %}</a>
        </div>
        <div class="callout">
            <h5>{% trans "Test Reports" %}</h5>
            <p>Not found</p>
        </div>
        <div class="callout">
            <h5>Redmine</h5>
            <p>Project ID:</p>
            <a href="/device/{{ device.id }}/">{% trans "Edit" %}</a>
        </div>

    </div>
    <div class="cell medium-6 large-4">

        <div class="callout" align="center">
            <p><img src="/media/device/no-photo-available.png"></p>
            <p>
                <a href="#" class="hollow button small">&laquo;</a>
                <a href="#" class="clear button disabled small">1</a>
                <a href="#" class="hollow button small">&raquo;</a>
                <a href="#" class="hollow button small">{% trans "Add" %}</a>
                <a href="#" class="hollow button alert small">{% trans "Delete" %}</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}