{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p><a href="{% url 'devices' %}">{% trans "Devices" %}</a> &raquo;
    {{ device.vendor }} {{ device.model }} {% if device.hw %}({{ device.hw }}){% endif %}
</p>

<ul class="tabs" data-tabs id="device-tabs">
    <li class="tabs-title{% if tab_id == 1 %} is-active{% endif %}">
        <a href="#general" aria-selected="true">{% trans "General" %}</a>
    </li>
    <li class="tabs-title{% if tab_id == 2 %} is-active{% endif %}">
        <a data-tabs-target="specs" href="#specs">{% trans "Specifications" %}
            {% if specs|length > 0 %}({{ specs|length }}){% endif %}
        </a>
    </li>
    <li class="tabs-title{% if tab_id == 3 %} is-active{% endif %}">
        <a data-tabs-target="firmware" href="#firmware">{% trans "Firmware" %}
            {% if fws.count > 0 %}({{ fws.count }}){% endif %}
        </a>
    </li>
    <li class="tabs-title{% if tab_id == 4 %} is-active{% endif %}">
        <a data-tabs-target="photo" href="#photo">{% trans "Photo" %}</a>
    </li>
    <li class="tabs-title{% if tab_id == 5 %} is-active{% endif %}">
        <a data-tabs-target="doc" href="#doc">{% trans "Documentation" %}</a>
    </li>
    <li class="tabs-title{% if tab_id == 6 %} is-active{% endif %}">
        <a data-tabs-target="samples" href="#samples">{% trans "Samples" %}
            {% if samples.count > 0 %}({{ samples.count }}){% endif %}
        </a>
    </li>
    <li class="tabs-title{% if tab_id == 7 %} is-active{% endif %}">
        <a data-tabs-target="protocols" href="#protocols">{% trans "Protocols" %}</a>
    </li>
    <li class="tabs-title{% if tab_id == 8 %} is-active{% endif %}">
        <a data-tabs-target="redmine" href="#redmine">{% trans "Redmine" %}</a>
    </li>
</ul>

<div class="tabs-content" data-tabs-content="device-tabs">
    <div class="tabs-panel{% if tab_id == 1 %} is-active{% endif %}" id="general">
        <a href="{% url 'device_update' pk=device.id %}" class="button small">{% trans "Update" %}</a>
        <a href="{% url 'device_delete' pk=device.id %}" class="button alert small">{% trans "Delete" %}</a>

        <table class="hover unstriped">
            <tbody>
            <tr>
                <td>{% trans "Type" %}:</td>
                <td><a href="{% url 'device_type_details' pk=device.type.id tab_id=1 %}">{{ device.type }}</a></td>
            </tr>
            <tr>
                <td>{% trans "Vendor" %}:</td>
                <td>{{ device.vendor }}</td>
            </tr>
            <tr>
                <td>{% trans "Model" %}:</td>
                <td>{{ device.model }}</td>
            </tr>
            <tr>
                <td>{% trans "HW" %}:</td>
                <td>{% if device.hw %}{{ device.hw }}{% endif %}</td>
            </tr>
            <tr>
                <td>{% trans "Created" %}:</td>
                <td>{{ device.created_at }} ({{ device.created_by }})</td>
            </tr>
            <tr>
                <td>{% trans "Last Update" %}:</td>
                <td>{{ device.updated_at }} ({{ device.updated_by }})</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="tabs-panel{% if tab_id == 2 %} is-active{% endif %}" id="specs">

        {% for spec in specs %}
        <form method="post" action="">
            {% csrf_token %}
            <div class="grid-x grid-margin-x">
                <div class="cell">
                    <div class="card">
                        <div class="card-section">
                            <h4>{{ spec.name }}{% if spec.unit %}, {{ spec.unit}}{% endif %}</h4>

                            {% if spec.type == 'checklist' %}
                            <input hidden name="device_id" value="{{ device.id }}">
                            <input hidden name="spec_id" value="{{ spec.id }}">
                            <ul style="list-style: none">
                                {% for item in spec.items %}
                                <li>
                                    <input type="checkbox" name="item_{{ item.id }}"
                                           {% if item.value == True %}
                                           checked
                                           {% endif %}
                                    > {{ item.name }}
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}

                            {% if spec.type == 'slist' %}
                            <input hidden name="device_id" value="{{ device.id }}">
                            <select name="{{ spec.id }}">
                                <option value="">---------</option>
                                {% for item in spec.items %}
                                <option {% if item.value != False %} selected{% endif %} value="{{ item.id }}">{{ item.name }}</option>
                                {% endfor %}
                            </select>
                            {% endif %}

                            {% if spec.type == 'text_field' %}
                            <input type="text" name="{{ spec.id }}" value="{% if spec.custom_value %}{{ spec.custom_value }}{% endif %}" maxlength="2000">
                            {% endif %}

                            {% if spec.type == 'integer_field' %}
                            <input type="number" name="{{ spec.id }}" value="{{ spec.custom_value }}">
                            {% endif %}

                            <input type="submit" value='{% trans "Apply" %}' class="button success small" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
        {% endfor %}

    </div>


    <div class="tabs-panel{% if tab_id == 3 %} is-active{% endif %}" id="firmware">
        <a href="{% url 'fw_create' d_id=device.id %}" class="button small">{% trans "Add" %}</a>

        {% if fws %}
        {% for fw in fws %}
        <div class="callout secondary">
            <h5><a href="{% url 'fw_details' pk=fw.id tab_id=1 %}">{{ fw.version }}</a></h5>
            <p>{% if fw.description %}{{ fw.description }}{% endif %}</p>
        </div>
        {% endfor %}
        {% endif %}

    </div>

    <div class="tabs-panel{% if tab_id == 4 %} is-active{% endif %}" id="photo">
        <a href="{% url 'photo_create' device_id=device.id %}" class="button small">{% trans "Add" %}</a>

        {% if photos %}

        <div class="product-image-gallery">
            <ul class="menu product-thumbs align-center">
                {% for photo in photos %}
                  <li> <a class="sim-thumb" data-image="{{ photo.photo.url }}">
                      <img src="{{ photo.photo.url }}" height="100" width="100" alt="{{ photo.desc }}"></a> </li>
                {% endfor %}
            </ul>

            <p align="center">
                <img class="pdp-product-image" id="main-product-image" src="{{ photos.0.photo.url }}"
                     alt="" style="max-width: 800px">
            </p>
            <br>

        </div>
        {% endif %}

        <p>
            {% for photo in photos %}
            {{ photo.desc }}<br>
            <a href="{% url 'photo_update' device_id=device.id pk=photo.id %}">{{ photo.photo }}</a>
            <a href="{% url 'photo_delete' device_id=device.id pk=photo.id %}"><i class="step fi-minus" style="color: #bc104b"></i></a><br>
            <br>
            {% endfor %}
        </p>

    </div>

    <div class="tabs-panel{% if tab_id == 5 %} is-active{% endif %}" id="doc">
        <a href="{% url 'docum_create' device_id=device.id %}" class="button small">{% trans "Add" %}</a>
        <p>
            {% for docum in docums %}
            {{ docum.type }}<br>
            <a href="{% url 'docum_update' device_id=device.id pk=docum.id %}">{{ docum.file }}</a>
            <a href="{% url 'docum_delete' device_id=device.id pk=docum.id %}"><i class="step fi-minus" style="color: #bc104b"></i></a><br>
            <br>
            {% endfor %}
        </p>
    </div>

    <div class="tabs-panel{% if tab_id == 6 %} is-active{% endif %}" id="samples">
        <a href="{% url 'sample_create' device_id=device.id %}" class="button small">{% trans "Add" %}</a>
        {% if samples %}
        <table id="t_samples" class="display" style="width:100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>{% trans "Serial Number" %}</th>
                <th>{% trans "User Login" %}</th>
                <th>{% trans "User Password" %}</th>
                <th>{% trans "Support Login" %}</th>
                <th>{% trans "Support Password" %}</th>
                <th>{% trans "Description" %}</th>
            </tr>
            </thead>
            <tbody>
        {% endif %}
            {% for sample in samples %}
        <tr data-href="{% url 'sample_update' device_id=device.id pk=sample.id %}">
            <td>{{ sample.id }}</td>
            <td>
                {{ sample.sn }}
                <a href="{% url 'sample_delete' device_id=device.id pk=sample.id %}">
                    <i class="step fi-minus" style="color: #bc104b"></i></a>
            </td>
            <td>{{ sample.user_login }}</td>
            <td>{{ sample.user_password }}</td>
            <td>{{ sample.support_login }}</td>
            <td>{{ sample.support_password }}</td>
            <td>{% if sample.desc %}
                  {{ sample.desc }}
                {% endif %}
            </td>
        </tr>
            {% endfor %}
        {% if samples %}
            </tbody>
        </table>
        {% endif %}
    </div>

    <div class="tabs-panel{% if tab_id == 7 %} is-active{% endif %}" id="protocols">
        <a href="{% url 'protocol_create' device_id=device.id %}" class="button small">{% trans "Add" %}</a>
        {% if protocols %}
        <table id="t_protocols" class="display" style="width:100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>{% trans "Firmware" %}</th>
                <th>{% trans "Status" %}</th>
                <th>{% trans "Started" %}</th>
                <th>{% trans "Completed" %}</th>
                <th>{% trans "Created by" %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
        {% endif %}
            {% for protocol in protocols %}
        <tr data-href="{% url 'protocol_details' pk=protocol.id %}">
            <td>{{ protocol.id }}</td>
            <td>{{ protocol.firmware }}</td>
            <td>
                {% if protocol.status == None %}
                Testing in progress
                {% else %}
                {{ protocol.status }}
                {% endif %}
            </td>
            <td>{{ protocol.started }}</td>
            <td>
                {% if protocol.completed != None %}
                {{ protocol.completed }}
                {% endif %}
            </td>
            <td>{{ protocol.created_by }}</td>
            <td>
                <a href="{% url 'protocol_update' device_id=device.id pk=protocol.id %}"><i class="step fi-pencil"></i></a>
                <a href="{% url 'protocol_delete' device_id=device.id pk=protocol.id %}"><i class="step fi-minus" style="color: #bc104b"></i></a>
            </td>
        </tr>
            {% endfor %}
        {% if protocols %}
            </tbody>
        </table>
        {% endif %}
    </div>

  <div class="tabs-panel{% if tab_id == 8 %} is-active{% endif %}" id="redmine">
      <div class="grid-x grid-margin-x">
          <div class="cell">
              <div class="card">
                  <div class="card-section">
                      <h4>Project Information</h4>
                      <table>
                          {% if device.redmine_project %}
                          <tr>
                              <td>Wiki URL:</td>
                              <td>
                                  <a href="{{ redmine_url }}/projects/{{ device.redmine_project }}/wiki/">
                                      {{ redmine_url }}/projects/{{ device.redmine_project }}/wiki/</a>
                              </td>
                          </tr>
                          {% else %}
                          <tr>
                              <td>
                                  <a href="{% url 'device_update' pk=device.id %}">{% trans "Project ID is not set" %}</a>
                              </td>
                          </tr>
                          {% endif %}
                      </table>
                  </div>
              </div>
          </div>
      </div>

      <div class="grid-x grid-margin-x small-up-2 medium-up-2">
            <div class="cell">
                <div class="card">
                  <div class="card-section">
                    <h4>{% trans "Export" %}</h4>
                    <p>Click to send device details to Redmine Wiki.</p>
                      <form method="post" action="{# url 'export_device' #}">
                          {% csrf_token %}
                          <input type="hidden" name="device" value="{{ device.id }}">
                          <input type="submit" value='{% trans "Export" %}' class="button success small" />
                          {{ redmine_export_form.as_p }}
                      </form>
                  </div>
                </div>
            </div>
            <div class="cell">
                <div class="card">
                  <div class="card-section">
                    <h4>{% trans "Import" %}</h4>
                    <p>Click to update device details from Redmine Wiki.</p>
                      <form method="post" action="{# url 'import_device' #}">
                          {% csrf_token %}
                          <input type="hidden" name="device" value="{{ device.id }}">
                          <input type="submit" value='{% trans "Import" %}' class="button alert small" />
                          {{ redmine_import_form.as_p }}
                      </form>
                  </div>
                </div>
            </div>
      </div>
  </div>

</div>

<script>
    $(document).ready(function() {
        var table = $('table').DataTable( {

        {% if LANGUAGE_CODE == 'ru' %}
            "language": { "url": "{% static '/DataTables/i18n/Russian.json' %}" },
        {% endif %}

            "pageLength": 100,
            "order": [[ 0, "desc" ]]
        });
    });

    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");
        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            });
        });
    });
</script>

<script>
$('.sim-thumb').on('click', function() {
  $('#main-product-image').attr('src', $(this).data('image'));
})
</script>

<script type="text/javascript" src="{% static 'DataTables/datatables.js' %}"></script>

{% endblock %}