{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<form method="post" action="">
    <a href=".." class="button">&laquo; {% trans "Back" %}</a>
    <input type="submit" value='{% trans "Update" %}' class="button" />

    {% csrf_token %}
    {% for interface in interfaces %}

    <tr>
        <th><label for="id_interface_{{ interface.iface_id }}">{{ interface.iface_name }}:</label></th>
        <td><input type="number" name="{{ interface.iface_id }}" value="{{ interface.iface_quantity }}" id="id_interface_{{ interface.iface_id }}"></td>
    </tr>
    {% endfor %}
</form>

{% endblock %}
