{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<a href="{% url 'device_create' %}" class="button small">{% trans "Create" %}</a>

<table id="devices" class="hover unstriped" style="width:100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>{% trans "Vendor" %}</th>
        <th>{% trans "Model" %}</th>
        <th>{% trans "HW" %}</th>
        <th></th>
        <th>{% trans "Type" %}</th>
        <th>{% trans "Tag" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for device in devices %}
    <tr data-href="{% url 'device_details' pk=device.id tab_id=1 %}">
        <td>{{ device.id }}</td>
        <td>{{ device.vendor }}</td>
        <td>{{ device.model }}</td>
        <td>{% if device.hw %}{{ device.hw }}{% endif %}</td>
        <td>
            {% if device.device_firmware.all.count > 0 %}
            <span class="step fi-usb" style="color: #7700ff"> ({{ device.device_firmware.all.count }})</span>
            {% else %}
            <span class="step fi-usb" style="color: gray"> (0)</span>
            {% endif %}
            {% if device.device_photo.all.count > 0 %}
            <span class="step fi-photo" style="color: #7700ff"> ({{ device.device_photo.all.count }})</span>
            {% else %}
            <span class="step fi-photo" style="color: gray"> (0)</span>
            {% endif %}
            {% if device.device_document.all.count > 0 %}
            <span class="step fi-book" style="color: #7700ff"> ({{ device.device_document.all.count }})</span>
            {% else %}
            <span class="step fi-book" style="color: gray"> (0)</span>
            {% endif %}
        </td>
        <td>{{ device.type }}</td>
        <td>{{ device.type.tag }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function() {
        var table = $('#devices').DataTable({
        {% if LANGUAGE_CODE == 'ru' %}
            "language": { "url": "{% static '/DataTables/i18n/Russian.json' %}" },
        {% endif %}
        "pageLength": 100,
        "order": [[ 0, "desc" ]]
        });
    });

    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");
        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            });
        });
    });
</script>

<script type="text/javascript" src="{% static 'DataTables/datatables.js' %}"></script>

{% endblock %}
