{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}


<form method="post" action="">
    <a href=".." class="button">&laquo; {% trans "Back" %}</a>
    <input type="submit" value='{% trans "Update" %}' class="button" />

    {% csrf_token %}
    {% for custom_property in custom_properties %}
    <tr>
        <th><label for="id_custom_field_{{ custom_property.field_id }}">{{ custom_property.field_name }}:</label></th>
        <td><input type="text" name="{{ custom_property.field_id }}" value="{{ custom_property.value_name }}" id="id_custom_field_{{ custom_property.field_id }}"></td>
    </tr>
    {% endfor %}
</form>

{% endblock %}
