{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p>
    <a href="{% url 'devices' %}">{% trans "Devices" %}</a>
    &raquo;
    <a href="{% url 'device_details' pk=fw.device.id tab_id=3 %}">{{ fw.device.vendor }} {{ fw.device.model }}
        {% if fw.device.hw %}({{ fw.device.hw }}){% endif %}
    </a>
    &raquo;
    {{ fw.version }}
</p>

<ul class="tabs" data-tabs id="fw-tabs">
    <li class="tabs-title{% if tab_id == 1 %} is-active{% endif %}">
        <a href="#general" aria-selected="true">{% trans "General" %}</a>
    </li>
    <li class="tabs-title{% if tab_id == 2 %} is-active{% endif %}">
        <a href="#changelog" aria-selected="true">{% trans "Changelog" %}</a>
    </li>
    <li class="tabs-title{% if tab_id == 3 %} is-active{% endif %}">
        <a href="#accounts" aria-selected="true">{% trans "Accounts" %}
            {% if fw_accounts.count > 0 %}({{ fw_accounts.count }}){% endif %}
        </a>
    </li>
    <li class="tabs-title{% if tab_id == 4 %} is-active{% endif %}">
        <a href="#files" aria-selected="true">{% trans "Files" %}
            {% if fw_files.count > 0 %}({{ fw_files.count }}){% endif %}
        </a>
    </li>
    <li class="tabs-title{% if tab_id == 5 %} is-active{% endif %}">
        <a href="#configs" aria-selected="true">{% trans "CLI Information" %}</a>
    </li>
    <li class="tabs-title{% if tab_id == 6 %} is-active{% endif %}">
        <a href="#screenshots" aria-selected="true">{% trans "Screenshots" %}
            {% if fw_screenshots.count > 0 %}({{ fw_screenshots.count }}){% endif %}
        </a>
    </li>
    <li class="tabs-title{% if tab_id == 7 %} is-active{% endif %}">
        <a href="#howto" aria-selected="true">{% trans "HowTo" %}
            {% if fw_hts.count > 0 %}({{ fw_hts.count }}){% endif %}
        </a>
    </li>
</ul>

<div class="tabs-content" data-tabs-content="fw-tabs">
    <div class="tabs-panel{% if tab_id == 1 %} is-active{% endif %}" id="general">
        <a href="{% url 'fw_update' pk=fw.id %}" class="button small">{% trans "Update" %}</a>
        <a href="{% url 'fw_delete' pk=fw.id %}" class="button alert small">{% trans "Delete" %}</a>

        <table class="hover unstriped">
            <tbody>
            <tr>
                <td>{% trans "FW Version" %}:</td>
                <td>{{ fw.version }}</td>
            </tr>
            <tr>
                <td>{% trans "Checksum" %}:</td>
                <td>{% if fw.checksum %}{{ fw.checksum }}{% endif %}</td>
            </tr>
            <tr>
                <td>{% trans "Description" %}:</td>
                <td>{% if fw.description %}{{ fw.description }}{% endif %}</td>
            </tr>
            <tr>
                <td>{% trans "Created" %}:</td>
                <td>{{ fw.created_at }} ({{ fw.created_by }})</td>
            </tr>
            <tr>
                <td>{% trans "Last Update" %}:</td>
                <td>{{ fw.updated_at }} ({{ fw.updated_by }})</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="tabs-panel{% if tab_id == 2 %} is-active{% endif %}" id="changelog">
        {% if fw.changelog %}
        <pre><code>{{ fw.changelog|safe }}</code></pre>
        {% endif %}
    </div>

    <div class="tabs-panel{% if tab_id == 3 %} is-active{% endif %}" id="accounts">
        <a href="{% url 'fw_account_create' fw_id=fw.id %}" class="button small">{% trans "Create" %}</a>

        {% if fw_accounts %}
        <table class="display" style="width:100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>{% trans "Username" %}</th>
                <th>{% trans "Password" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for fw_account in fw_accounts %}
            <tr>
                <td>{{ fw_account.id }}
                    <a href="{% url 'fw_account_update' pk=fw_account.id %}">
                        <i class="step fi-pencil"></i>
                    </a>
                    <a href="{% url 'fw_account_delete' pk=fw_account.id %}">
                        <i class="step fi-minus" style="color: #bc104b"></i>
                    </a>
                </td>
                <td>{{ fw_account.username }}</td>
                <td>{{ fw_account.password }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

    </div>

    <div class="tabs-panel{% if tab_id == 4 %} is-active{% endif %}" id="files">
        <a href="{% url 'fw_file_create' fw_id=fw.id %}" class="button small">{% trans "Add" %}</a>

        {% if fw_files %}
        <table class="display" style="width:100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>{% trans "File" %}</th>
                <th>{% trans "Description" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for fw_file in fw_files %}
            <tr>
                <td>{{ fw_file.id }}
                    <a href="{% url 'fw_file_update' pk=fw_file.id %}">
                        <i class="step fi-pencil"></i>
                    </a>
                    <a href="{% url 'fw_file_delete' pk=fw_file.id %}">
                        <i class="step fi-minus" style="color: #bc104b"></i>
                    </a>
                </td>
                <td>{{ fw_file.file }}</td>
                <td>{{ fw_file.description }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    <div class="tabs-panel{% if tab_id == 5 %} is-active{% endif %}" id="configs">
        Files
    </div>

    <div class="tabs-panel{% if tab_id == 6 %} is-active{% endif %}" id="screenshots">
        <a href="{% url 'fw_screenshot_create' fw_id=fw.id %}" class="button small">{% trans "Add" %}</a>
        {% if fw_screenshots %}
        {% for fw_screenshot in fw_screenshots %}
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <div class="card">
                    <div class="card-section">
                        {% if fw_screenshot.description %}<h4>{{ fw_screenshot.description }}</h4>{% endif %}
                        <p><img src="{{ fw_screenshot.image.url }}"></p>
                        <p>
                            <a href="{% url 'fw_screenshot_update' pk=fw_screenshot.id %}" class="button small">
                                {% trans "Update" %}
                            </a>
                            <a href="{% url 'fw_screenshot_delete' pk=fw_screenshot.id %}" class="button small alert">
                                {% trans "Delete" %}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>

    <div class="tabs-panel{% if tab_id == 7 %} is-active{% endif %}" id="howto">

        <a href="{% url 'fw_howto_create' fw_id=fw.id %}" class="button small">{% trans "Add" %}</a>
        {% if fw_hts %}
        {% for fw_howto in fw_hts %}
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <div class="card">
                    <div class="card-section">
                        <h4>{{ fw_howto.name }}</h4>
                        <pre><code>{{ fw_howto.text|safe }}</code></pre>
                        <p>
                            <a href="{% url 'fw_howto_update' pk=fw_howto.id %}" class="button small">
                                {% trans "Update" %}
                            </a>
                            <a href="{% url 'fw_howto_delete' pk=fw_howto.id %}" class="button small alert">
                                {% trans "Delete" %}
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}

    </div>

</div>
{% endblock %}