{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p><a href="{% url 'd_tfields' %}">{% trans "Text Field" %}</a> &raquo; {{ tfield.name}}</p>

<div class="grid-x grid-margin-x">
    <div class="cell">
        <div class="card">
            <div class="card-section">
                <a href="{% url 'd_tf_update' pk=tfield.id %}" class="button small">{% trans "Update" %}</a>
                <a href="{% url 'd_tf_delete' pk=tfield.id %}" class="button alert small">{% trans "Delete" %}</a>
                <table>
                    <tr>
                        <td>{% trans "Name" %}:</td>
                        <td>{{ tfield.name }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Created" %}:</td>
                        <td>{{ tfield.created_at }} ({{ tfield.created_by }})</td>
                    </tr>
                    <tr>
                        <td>{% trans "Last Update" %}:</td>
                        <td>{{ tfield.updated_at }} ({{ tfield.updated_by }})</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
