{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p><a href="{% url 'device_types' %}">{% trans "Device Types" %}</a> &raquo; {{ device_type }}</p>

<ul class="tabs" data-tabs id="type-tabs">
    <li class="tabs-title{% if tab_id == 1 %} is-active{% endif %}"><a href="#general" aria-selected="true">
        {% trans "General" %}</a></li>
    <li class="tabs-title{% if tab_id == 2 %} is-active{% endif %}"><a data-tabs-target="spec" href="#spec">
        {% trans "Specifications" %}{% if specs.count > 0 %} ({{ specs.count }}){% endif %}</a></li>
    <li class="tabs-title{% if tab_id == 3 %} is-active{% endif %}"><a data-tabs-target="tr" href="#tr">
        {% trans "Tehnical Requirements" %}{% if feature_lists.count > 0 %} ({{ feature_lists.count }}){% endif %}</a></li>
    <li class="tabs-title{% if tab_id == 4 %} is-active{% endif %}"><a data-tabs-target="redmine" href="#redmine">
        {% trans "Redmine" %}</a></li>
</ul>

<div class="tabs-content" data-tabs-content="type-tabs">
    <div class="tabs-panel{% if tab_id == 1 %} is-active{% endif %}" id="general">
        <a href="{% url 'device_type_update' pk=device_type.id %}" class="button small">{% trans "Update" %}</a>
        <a href="{% url 'device_type_delete' pk=device_type.id %}" class="button alert small">{% trans "Delete" %}</a>

        <table class="hover unstriped">
            <tbody>
            <tr>
                <td>{% trans "Tag" %}:</td>
                <td>{{ device_type.tag }}</td>
            </tr>
            <tr>
                <td>{% trans "Description" %}:</td>
                <td>{{ device_type.desc }}</td>
            </tr>
            <tr>
                <td>{% trans "Genitive Description" %}:</td>
                <td>{{ device_type.desc_genitive }}</td>
            </tr>
            <tr>
                <td>{% trans "Created" %}:</td>
                <td>{{ device_type.created_at }} ({{ device_type.created_by }})</td>
            </tr>
            <tr>
                <td>{% trans "Last Update" %}:</td>
                <td>{{ device_type.updated_at }} ({{ device_type.updated_by }})</td>
            </tr>
            <tr>
                <td>{% trans "Devices" %}:</td>
                <td>{{ devices_count }}</td>
            </tr>
            <tr>
                <td>{% trans "Testplans" %}:</td>
                <td>{{ testplans_count }}</td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="tabs-panel{% if tab_id == 2 %} is-active{% endif %}" id="spec">
        <button class="button small" type="button" data-toggle="example-dropdown">{% trans "Add" %}</button>
        <div class="dropdown-pane" id="example-dropdown" data-dropdown data-auto-focus="true">
            <h4>{% trans "Add" %}</h4>
            <a href="{% url 'dt_spec_create' dt=device_type.id st=1 %}" class="button small">
                {% trans "Checkbox" %}
            </a>
            <a href="{% url 'dt_spec_create' dt=device_type.id st=2 %}" class="button small">
                {% trans "Dropdown Menu" %}
            </a>
            <a href="{% url 'dt_spec_create' dt=device_type.id st=3 %}" class="button small">
                {% trans "Text Field" %}
            </a>
            <a href="{% url 'dt_spec_create' dt=device_type.id st=4 %}" class="button small">
                {% trans "Integer Field" %}
            </a>
        </div>

        {% if specs %}
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Type" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for spec in specs %}
            <tr>
                <td>{{ spec.id }}</td>
                <td>
                    {{ spec.checklist.name }}{{ spec.slist.name }}{{ spec.text_field.name }}{{ spec.integer_field.name }}
                    <a href="{% url 'dt_spec_delete' dt=device_type.id pk=spec.id %}">
                        <i class="step fi-minus" style="color: #bc104b"></i>
                    </a>
                </td>
                <td>
                    {% if spec.checklist %}{% trans "Checkbox" %}{% endif %}
                    {% if spec.slist %}{% trans "Dropdown Menu" %}{% endif %}
                    {% if spec.text_field %}{% trans "Text" %}{% endif %}
                    {% if spec.integer_field %}{% trans "Integer" %}{% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    <div class="tabs-panel{% if tab_id == 3 %} is-active{% endif %}" id="tr">
        <a href="{% url 'fl_create' dt_id=device_type.id %}" class="button small">{% trans "Add" %}</a>

        {% if feature_lists %}
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Version" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for feature_list in feature_lists %}
            <tr data-href="{% url 'fl_details' pk=feature_list.id tab_id=1 %}">
                <td>{{ feature_list.id }}</td>
                <td>{{ feature_list.name }}</td>
                <td>{{ feature_list.version }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

    </div>

  <div class="tabs-panel{% if tab_id == 4 %} is-active{% endif %}" id="redmine">
      <div class="grid-x grid-margin-x">
          <div class="cell">
              <div class="card">
                  <div class="card-section">
                      <h4>Project Information</h4>
                      <table>
                          {% if device_type.redmine_project %}
                          <tr>
                              <td>Wiki URL:</td>
                              <td>
                                  <a href="{{ redmine_url }}/projects/{{ device_type.redmine_project }}/wiki/">
                                      {{ redmine_url }}/projects/{{ device_type.redmine_project }}/wiki/</a>
                              </td>
                          </tr>
                          {% else %}
                          <tr>
                              <td>
                                  <a href="{% url 'device_type_update' pk=device_type.id %}">{% trans "Project ID is not set" %}</a>
                              </td>
                          </tr>
                          {% endif %}
                      </table>
                  </div>
              </div>
          </div>
      </div>

      <div class="grid-x grid-margin-x small-up-2 medium-up-2">
            <div class="cell">
                <div class="card">
                  <div class="card-section">
                    <h4>{% trans "Export" %}</h4>
                    <p>Click to send device type details to Redmine Wiki.</p>
                      <form method="post" action="{% url 'export_device_type' %}">
                          {% csrf_token %}
                          <input type="hidden" name="device_type" value="{{ device_type.id }}">
                          <input type="submit" value='{% trans "Export" %}' class="button success small" />
                          {{ export_form.as_p }}
                      </form>
                  </div>
                </div>
            </div>
            <div class="cell">
                <div class="card">
                  <div class="card-section">
                    <h4>{% trans "Import" %}</h4>
                    <p>Click to update device type details from Redmine Wiki.</p>
                      <form method="post" action="{% url 'import_device_type' %}">
                          {% csrf_token %}
                          <input type="hidden" name="device_type" value="{{ device_type.id }}">
                          <input type="submit" value='{% trans "Import" %}' class="button alert small" />
                          {{ import_form.as_p }}
                      </form>
                  </div>
                </div>
            </div>
      </div>
  </div>

</div>

<script>
    $(document).ready(function() {
        var table = $('table').DataTable( {

        {% if LANGUAGE_CODE == 'ru' %}
            "language": { "url": "{% static '/DataTables/i18n/Russian.json' %}" },
        {% endif %}

            "pageLength": 100,
            "order": [[ 0, "desc" ]]
        });
    });

    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");
        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            });
        });
    });
</script>

{% endblock %}