{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p><a href="{% url 'device_types' %}">{% trans "Device Types" %}</a> &raquo; {{ device_type }}</p>

<ul class="tabs" data-tabs id="type-tabs">
    <li class="tabs-title{% if tab_id == 1 %} is-active{% endif %}"><a href="#general" aria-selected="true">
        {% trans "General" %}</a></li>
    <li class="tabs-title{% if tab_id == 2 %} is-active{% endif %}"><a data-tabs-target="spec" href="#spec">
        {% trans "Specifications" %}</a></li>
    <li class="tabs-title{% if tab_id == 3 %} is-active{% endif %}"><a data-tabs-target="tr" href="#tr">
        {% trans "Tehnical Requirements" %}</a></li>
    <li class="tabs-title{% if tab_id == 4 %} is-active{% endif %}"><a data-tabs-target="redmine" href="#redmine">
        {% trans "Redmine" %}</a></li>
</ul>

<div class="tabs-content" data-tabs-content="type-tabs">
    <div class="tabs-panel{% if tab_id == 1 %} is-active{% endif %}" id="general">
        <a href="{% url 'device_type_update' pk=device_type.id %}" class="button small">{% trans "Update" %}</a>
        <a href="{% url 'device_type_delete' pk=device_type.id %}" class="button alert small">{% trans "Delete" %}</a>

                <table class="hover unstriped">
            <tbody>
            <tr>
                <td>{% trans "Tag" %}:</td>
                <td>{{ device_type.tag }}</td>
            </tr>
            <tr>
                <td>{% trans "Description" %}:</td>
                <td>{{ device_type.desc }}</td>
            </tr>
            <tr>
                <td>{% trans "Genitive Description" %}:</td>
                <td>{{ device_type.desc_genitive }}</td>
            </tr>
            <tr>
                <td>{% trans "Created" %}:</td>
                <td>{{ device_type.created_at }} ({{ device_type.created_by }})</td>
            </tr>
            <tr>
                <td>{% trans "Last Update" %}:</td>
                <td>{{ device_type.updated_at }} ({{ device_type.updated_by }})</td>
            </tr>
            <tr>
                <td>{% trans "Devices" %}:</td>
                <td>{{ devices_count }}</td>
            </tr>
            <tr>
                <td>{% trans "Testplans" %}:</td>
                <td>{{ testplans_count }}</td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="tabs-panel{% if tab_id == 2 %} is-active{% endif %}" id="spec">
        <button class="button small" type="button" data-toggle="example-dropdown">{% trans "Add" %}</button>
        <div class="dropdown-pane" id="example-dropdown" data-dropdown data-auto-focus="true">
            <h4>{% trans "Add" %}</h4>
            <a href="{# url 'test_checklist_create' test_id=test.id #}" class="button small">
                {% trans "Checkbox" %}
            </a>
            <a href="{# url 'test_int_value_create' test_id=test.id #}" class="button small">
                {% trans "Dropdown Menu" %}
            </a>
            <a href="#" class="button small">
                {% trans "Text Field" %}
            </a>
            <a href="#" class="button small">
                {% trans "Integer Field" %}
            </a>
        </div>

    </div>

    <div class="tabs-panel{% if tab_id == 3 %} is-active{% endif %}" id="tr">
        2
    </div>

  <div class="tabs-panel{% if tab_id == 4 %} is-active{% endif %}" id="redmine">
      {% if device_type.redmine_project %}

      <table>
          <tr>
              <td>{% trans "Project ID" %}:</td>
              <td>{{ device_type.redmine_project }}</td>
          </tr>
          <tr>
              <td>{% trans "Project Name" %}:</td>
              <td>{{ device_type.redmine_project_name }}</td>
          </tr>
      </table>
      {% else %}
      <a href="{% url 'device_type_update' pk=device_type.id %}">{% trans "Project ID is not set" %}</a>
      {% endif %}
  </div>
</div>

{% endblock %}