{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}
<a href="{% url 'feature_list_create' %}" class="button small">{% trans "Create" %}</a>

<table id="feature_lists" class="display" style="width:100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Version" %}</th>
        <th>{% trans "Updated at" %}</th>
        <th>{% trans "Updated by" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for feature_list in feature_lists %}
    <tr>
        <td>{{ feature_list.id }}</td>
        <td>{{ feature_list.name }}</td>
        <td>{{ feature_list.version }}</td>
        <td>{{ feature_list.updated_at }}</td>
        <td>{{ feature_list.updated_by }}</td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>ID</th>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Version" %}</th>
        <th>{% trans "Updated at" %}</th>
        <th>{% trans "Updated by" %}</th>
    </tr>
    </tfoot>
</table>

<script>
  $(document).ready(function() {
      var table = $('#feature_lists').DataTable( {
      {% if LANGUAGE_CODE == 'ru' %}
          "language": { "url": "{% static '/DataTables/i18n/Russian.json' %}" },
      {% endif %}
          "order": [[ 0, "desc" ]]
      } );

      $('#feature_lists tbody').on('click', 'tr', function () {
          var data = table.row( this ).data();
		  window.open(data[0]+"/","_self");
      } );
  } );
</script>

<script type="text/javascript" src="{% static 'DataTables/datatables.js' %}"></script>

{% endblock %}
