# Django
*.log
*.pot
.idea/
/qa/settings/local.py
/qa/static/
**/migrations/*
/qa/media/device/*

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Translations
*.mo

# dotenv
.env
myvenv/*

# C extensions
*.so
