# Django
*.log
*.pot
.idea/
/qa/settings/local.py
/qa/static/
/qa/media/device/firmware/
/qa/media/docx_builder/files/
/qa/media/protocol/
/qa/media/testplan/images/
**/migrations/*

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# Translations
*.mo

# dotenv
.env
myvenv/*
/venv/

# C extensions
*.so
