{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<form method="post" action="">
    <a href="/testplan/" class="button small">&laquo; {% trans "Back" %}</a>
    <input type="submit" value='{% trans "Create" %}' class="button success small" />
    {% csrf_token %}
    <label for="id_project">{% trans "Testplan" %}:</label>
    <select name="project" id="id_project">
        {% for project in projects %}
        <option value="{{ project.identifier }}">{{ project.name }}</option>
        {% endfor %}
    </select>

    <label for="id_tag">{% trans "Tag" %}:</label>
    <select name="tag" id="id_tag">
        {% for tag in tags %}
        <option value="{{ tag.tag }}">{{ tag.tag }}</option>
        {% endfor %}
    </select>
</form>

{% endblock %}
