{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p>
    <a href="{% url 'protocols' %}">{% trans "Protocols" %}</a> &raquo; {{ protocol.id }}
    {% if protocol_devices.count > 0 %}
    {% for protocol_device in protocol_devices %}
    <i class="step fi-star" style="color: red"></i> {{ protocol_device.device.vendor }} {{ protocol_device.device.model }} / {{ protocol_device.device.hw }}
    {% endfor %}
    {% endif %}
</p>

<ul class="tabs" data-tabs id="protocol-tabs">
    <li class="tabs-title{% if tab_id == 1 %} is-active{% endif %}">
        <a href="#general" aria-selected="true">{% trans "General" %}</a>
    </li>
    <li class="tabs-title{% if tab_id == 2 %} is-active{% endif %}">
        <a data-tabs-target="devices" href="#devices">{% trans "Devices" %}
            {% if protocol_devices.count > 0 %}({{ protocol_devices.count }}){% endif %}
        </a>
    </li>
    <li class="tabs-title{% if tab_id == 3 %} is-active{% endif %}">
        <a data-tabs-target="tests" href="#tests">{% trans "Tests" %}
            {% if protocol_test_results|length > 0 %}({{ protocol_test_results|length }}){% endif %}
        </a>
    </li>
    <li class="tabs-title{% if tab_id == 4 %} is-active{% endif %}">
        <a data-tabs-target="files" href="#files">{% trans "Files" %}
            {% if protocol_scans.count > 0 %}({{ protocol_scans.count }}){% endif %}
        </a>
    </li>
</ul>

<div class="tabs-content" data-tabs-content="protocol-tabs">
    <div class="tabs-panel{% if tab_id == 1 %} is-active{% endif %}" id="general">
        <a href="{% url 'protocol_update' pk=protocol.id %}" class="button small">{% trans "Update" %}</a>
        <a href="{% url 'protocol_delete' pk=protocol.id %}" class="button alert small">{% trans "Delete" %}</a>

        <table class="hover unstriped">
            <tbody>
            <tr>
                <td>{% trans "Branch" %}:</td>
                <td>{{ protocol.branch }}</td>
            </tr>
            <tr>
                <td>{% trans "Testplan" %}:</td>
                <td>
                    {% if protocol.testplan %}
                    {{ protocol.testplan }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>{% trans "Status" %}:</td>
                <td>
                    {% if protocol.status == 0 %}
                    <span class="label" style="width:110px; text-align: center; background-color: gray; color: white">{% trans "In progress" %}</span>
                    {% endif %}
                    {% if protocol.status == 1 %}
                    <span class="label alert" style="width:110px; text-align: center">{% trans "Not recommended" %}</span>
                    {% endif %}
                    {% if protocol.status == 2 %}
                    <span class="label warning" style="width:110px; text-align: center">{% trans "Limited" %}</span>
                    {% endif %}
                    {% if protocol.status == 3 %}
                    <span class="label success" style="width:110px; text-align: center; background-color: green; color: white">{% trans "Recommended" %}</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>{% trans "Date" %}:</td>
                <td>
                    {{ protocol.started|date:"d.m.Y" }}
                    {% if protocol.completed %} - {{ protocol.completed|date:"d.m.Y" }}{% endif %}
                </td>
            </tr>
            <tr>
                <td>{% trans "Created" %}:</td>
                <td>{{ protocol.created_at }} ({{ protocol.created_by }})</td>
            </tr>
            <tr>
                <td>{% trans "Last Update" %}:</td>
                <td>{{ protocol.updated_at }} ({{ protocol.updated_by }})</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="tabs-panel{% if tab_id == 2 %} is-active{% endif %}" id="devices">
        <a href="{% url 'protocol_device_create' p_id=protocol.id %}" class="button small">{% trans "Add" %}</a>

        {% if protocol_devices %}
        {% for protocol_device in protocol_devices %}
        <div class="callout secondary">

            <div class="topcorner">
                <a href="{% url 'protocol_device_update' pk=protocol_device.id %}"><i class="step fi-pencil"></i></a>
                <a href="{% url 'protocol_device_delete' pk=protocol_device.id %}"><i class="step fi-minus" style="color: red"></i></a>
            </div>

            <h5><a href="{% url 'device_details' pk=protocol_device.device.id tab_id=1 %}">{{ protocol_device.device.vendor }} {{ protocol_device.device }}</a></h5>
            <p>{{ protocol_device.device.type }}</p>

            <div class="grid-x grid-margin-x small-up-2 medium-up-2">
                <div class="cell">
                    <div class="card">
                        <div class="card-section">
                            <h4>{% trans "Firmware" %}</h4>
                            {% if protocol_device.firmware %}

                            <table>
                                <tr>
                                    <td width="50%">{% trans "Version" %}:</td>
                                    <td>
                                        <a href="{% url 'fw_details' pk=protocol_device.firmware.id tab_id=1 %}">{{ protocol_device.firmware }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>{% trans "Description" %}:</td>
                                    <td>
                                        {% if protocol_device.firmware.description %}
                                        {{ protocol_device.firmware.description }}
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>

                            <p><a href="{% url 'protocol_device_fw_update' pk=protocol_device.id %}" class="button small">{% trans "Update" %}</a></p>
                            {% else %}
                            <p><a href="{% url 'protocol_device_fw_update' pk=protocol_device.id %}" class="button small">{% trans "Select" %}</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>


                <div class="cell">
                    <div class="card">
                        <div class="card-section">
                            <h4>{% trans "Sample" %}</h4>
                            {% if protocol_device.sample %}

                            {% if protocol_device.sample.sn %}
                            <div class="input-group">
                                <span class="input-group-label">SN</span>
                                <input class="input-group-field" type="text" value="{{ protocol_device.sample.sn }}" id="myInputSN_{{ protocol_device.sample.id }}">
                                <div class="input-group-button">
                                    <button type="submit" class="button success" onclick="myFunctionSN_{{ protocol_device.sample.id }}()">
                                        Copy
                                    </button>
                                </div>
                            </div>

                            <script>
                              function myFunctionSN_{{ protocol_device.sample.id }}() {
                                var copyText = document.getElementById("myInputSN_{{ protocol_device.sample.id }}");
                                copyText.select();
                                copyText.setSelectionRange(0, 99999);
                                document.execCommand("copy");
                                }
                            </script>

                            {% endif %}

                            <p style="color: #7700ff"><i>{% trans "Accounts" %}:</i></p>

                            {% for account in protocol_device.sample.sample_account.all|dictsort:"id" %}
                            <div class="input-group">
                                <span class="input-group-label">{% if account.username %}{{ account.username }}{% endif %}</span>
                                <input class="input-group-field" type="text" value="{% if account.password %}{{ account.password }}{% endif %}" id="myInput_{{ account.id }}_{{ account.username }}">
                                <div class="input-group-button">
                                    <button type="submit" class="button success" onclick="myFunction_{{ account.id }}_{{ account.username }}()">
                                        Copy
                                    </button>
                                </div>
                            </div>

                            <script>
                            function myFunction_{{ account.id }}_{{ account.username }}() {
                              var copyText = document.getElementById("myInput_{{ account.id }}_{{ account.username }}");
                              copyText.select();
                              copyText.setSelectionRange(0, 99999);
                              document.execCommand("copy");
                            }
                            </script>
                            {% endfor %}

                            <p><a href="{% url 'protocol_device_sample_update' pk=protocol_device.id %}" class="button small">{% trans "Update" %}</a></p>
                            {% else %}
                            <p><a href="{% url 'protocol_device_sample_update' pk=protocol_device.id %}" class="button small">{% trans "Select" %}</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
        {% endif %}
    </div>

    <div class="tabs-panel{% if tab_id == 3 %} is-active{% endif %}" id="tests">
        {% if protocol.testplan %}
        <table id="results" class="unstriped hover" style="width:100%;">
        <thead>
            <tr style="background-color: #E8E8E8">
                <th>ID</th>
                <th width="70px">{% trans "Results" %}</th>
                <th>{% trans "Tests" %}</th>
                <th>{% trans "Category" %}</th>
                <th width="40%">{% trans "Issues" %}</th>
                <th width="20%">{% trans "Comments" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for test_result in protocol_test_results %}
            <tr {% if test_result.status == 0 %}
                data-href="{% url 'protocol_test_result_create' protocol_id=protocol.id test_id=test_result.test_id %}"
                {% else %}
                data-href="{% url 'protocol_test_result_details' pk=test_result.result_id tab_id=6 %}"
                {% endif %}>
                <td>{{ forloop.counter }}</td>
                <td width="70px">
                    {% if test_result.status < 2 %}
                    <span class="label" style="width:65px; text-align: center; background-color: gray; color: white">{% trans "Not tested" %}</span>
                    {% endif %}
                    {% if test_result.status == 2 %}
                    <span class="label alert" style="width:65px; text-align: center">{% trans "Failed" %}</span>
                    {% endif %}
                    {% if test_result.status == 3 %}
                    <span class="label warning" style="width:65px; text-align: center">{% trans "Warning" %}</span>
                    {% endif %}
                    {% if test_result.status == 4 %}
                    <span class="label success" style="width:65px; text-align: center; background-color: green; color: white">{% trans "Success" %}</span>
                    {% endif %}
                </td>
                <td>
                    <i>{{ test_result.l1_num }}.{{ test_result.l2_num }}.&#160; {{ test_result.test_name }}</i>
                    {% if test_result.test_images_count %}
                    <br><i class="step fi-photo" style="color: #7700ff"></i>
                    <span style="color: #7700ff">({{ test_result.test_images_count}})</span>
                    {% endif %}
                </td>
                <td>{{ test_result.category_name }}</td>
                <td>
                    <ul style="list-style: none">
                    {% for test_issue in test_result.test_issues %}
                        <li>
                            {{ test_issue.text }}
                            {% if test_issue.ticket %}<span style="color: #7700ff"><i>{{ test_issue.ticket }}</i></span>{% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul style="list-style: none">
                    {% for test_comment in test_result.test_comments %}
                        <li>{{ test_comment }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
        {% else %}
        <p>{% trans "Testplan not set" %}</p>
        <p><a href="{% url 'protocol_update' pk=protocol.id %}" class="button small">{% trans "Update" %}</a></p>
        {% endif %}

    </div>

    <div class="tabs-panel{% if tab_id == 4 %} is-active{% endif %}" id="files">
        <a href="{% url 'protocol_scan_create' p_id=protocol.id %}" class="button small">{% trans "Add" %}</a>

        {% if protocol_scans %}
        <ul>
        {% for scan in protocol_scans %}
        <li>
            <a href="{% url 'protocol_scan_update' pk=scan.id %}">{{ scan.scan }}</a>
            <a href="{% url 'protocol_scan_delete' pk=scan.id %}"><i class="step fi-minus" style="color: red"></i></a>
        </li>
        {% endfor %}
        </ul>
        {% endif %}
    </div>

</div>

<script>
$(document).ready(function() {
    var groupColumn = 3;
    var table = $('#results').DataTable({
        "columnDefs": [
            { "visible": false, "targets": groupColumn },
            { "visible": false, "targets": [ 0 ] },
        ],
        "order": [[ 0, 'asc' ]],
        "displayLength": 100,
        "drawCallback": function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;

            api.column(groupColumn, {page:'current'} ).data().each( function ( group, i ) {
                if ( last !== group ) {
                    $(rows).eq( i ).before(
                        '<tr class="group" style="background-color: #F5F5F5; font-weight: bold"><td colspan="5">'+group+'</td></tr>'
                    );

                    last = group;
                }
            } );
        }
    } );

    // Order by the grouping
    $('#results tbody').on( 'click', 'tr.group', function () {
        var currentOrder = table.order()[0];
        if ( currentOrder[0] === groupColumn && currentOrder[1] === 'asc' ) {
            table.order( [ groupColumn, 'desc' ] ).draw();
        }
        else {
            table.order( [ groupColumn, 'asc' ] ).draw();
        }
    } );
} );

document.addEventListener("DOMContentLoaded", () => {
    const rows = document.querySelectorAll("tr[data-href]");
    rows.forEach(row => {
        row.addEventListener("click", () => {
            window.location.href = row.dataset.href;
        });
    });
});
</script>

<script type="text/javascript" src="{% static 'DataTables/datatables.js' %}"></script>

{% endblock %}