{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<a href="{% url 'protocol_create' %}" class="button small">{% trans "Create" %}</a>

<table id="protocols" class="display" style="width:100%">
    <thead>
    <tr>
        <th>ID</th>
        <th>{% trans "Device" %}</th>
        <th>{% trans "Branch" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Testplan" %}</th>
        <th>{% trans "Date" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for protocol in protocols %}
    <tr data-href="{% url 'protocol_details' pk=protocol.id tab_id=3 %}">
        <td>{{ protocol.id }}</td>
        <td>
            {% for protocol_device in protocol.protocol_pd.all|dictsort:"id" %}
            <ul style="list-style: none; margin-top: 0; margin-bottom: 0;">
                <li>{{ protocol_device.device.vendor }} {{ protocol_device.device }}{% if protocol_device.device.hw %} / {{ protocol_device.device.hw }}{% endif %}
                <ul style="list-style: none; color: #7700ff; font-style: italic;">
                    {% if protocol_device.firmware %}
                    <li>fw: {{ protocol_device.firmware }}</li>
                    {% endif %}
                </ul>
                </li>
            </ul>
            {% endfor %}
        </td>
        <td>{{ protocol.branch }}</td>
        <td width="10%">
            {% if protocol.status == 0 %}
            <span class="label primary" style="color: white">{% trans "In progress" %}</span>
            {% endif %}
            {% if protocol.status == 1 %}
            <span class="label alert">{% trans "Not recommended" %}</span>
            {% endif %}
            {% if protocol.status == 2 %}
            <span class="label warning">{% trans "Partially recommended" %}</span>
            {% endif %}
            {% if protocol.status == 3 %}
            <span class="label success">{% trans "Recommended" %}</span>
            {% endif %}
        </td>
        <td width="30%">
            {% if protocol.testplan %}{{ protocol.testplan }}{% endif %}
        </td>
        <td width="15%">
            {{ protocol.started|date:"d.m.Y" }}
            {% if protocol.completed %} - {{ protocol.completed|date:"d.m.Y" }}{% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function() {
        var table = $('#protocols').DataTable({
        {% if LANGUAGE_CODE == 'ru' %}
            "language": { "url": "{% static '/DataTables/i18n/Russian.json' %}" },
        {% endif %}
        "pageLength": 100,
        "order": [[ 0, "desc" ]]
        });
    });

    document.addEventListener("DOMContentLoaded", () => {
        const rows = document.querySelectorAll("tr[data-href]");
        rows.forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            });
        });
    });
</script>

<script type="text/javascript" src="{% static 'DataTables/datatables.js' %}"></script>

{% endblock %}
