{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p><a href="{% url 'protocols' %}">{% trans "Protocols" %}</a> &raquo; {{ protocol.id }}</p>

<ul class="tabs" data-tabs id="protocol-tabs">
    <li class="tabs-title{% if tab_id == 1 %} is-active{% endif %}">
        <a href="#general" aria-selected="true">{% trans "General" %}</a>
    </li>
    <li class="tabs-title{% if tab_id == 2 %} is-active{% endif %}">
        <a data-tabs-target="devices" href="#devices">{% trans "Devices" %}
            {% if protocol_devices.count > 0 %}({{ protocol_devices.count }}){% endif %}
        </a>
    </li>
</ul>

<div class="tabs-content" data-tabs-content="protocol-tabs">
    <div class="tabs-panel{% if tab_id == 1 %} is-active{% endif %}" id="general">
        <a href="{% url 'protocol_update' pk=protocol.id %}" class="button small">{% trans "Update" %}</a>
        <a href="{% url 'protocol_delete' pk=protocol.id %}" class="button alert small">{% trans "Delete" %}</a>

        <table class="hover unstriped">
            <tbody>
            <tr>
                <td>{% trans "Testplan" %}:</td>
                <td></td>
            </tr>
            <tr>
                <td>{% trans "Status" %}:</td>
                <td></td>
            </tr>
            <tr>
                <td>{% trans "Started at" %}:</td>
                <td>{{ protocol.started }}</td>
            </tr>
            <tr>
                <td>{% trans "Completed at" %}:</td>
                <td>{{ protocol.completed }}</td>
            </tr>
            <tr>
                <td>{% trans "Created by" %}:</td>
                <td>{{ protocol.created_by }}</td>
            </tr>
            <tr>
                <td>{% trans "Created at" %}:</td>
                <td>{{ protocol.created_at }}</td>
            </tr>
            <tr>
                <td>{% trans "Updated by" %}:</td>
                <td>{{ protocol.updated_by }}</td>
            </tr>
            <tr>
                <td>{% trans "Updated at" %}:</td>
                <td>{{ protocol.updated_at }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="tabs-panel{% if tab_id == 2 %} is-active{% endif %}" id="devices">
        <a href="{% url 'protocol_device_create' p_id=protocol.id %}" class="button small">{% trans "Add" %}</a>
        {% if protocol_devices %}
        {% for protocol_device in protocol_devices %}
        <div class="callout secondary">
            <h5>
                <a href="{% url 'device_details' pk=protocol_device.device.id tab_id=1 %}">{{ protocol_device.device.vendor }} {{ protocol_device.device }}</a>
            </h5>
            <p>{{ protocol_device.device.type }}</p>
            <table>
                <tr>
                    <td width="5%">{% trans "Firmware" %}: </td>
                    <td>
                        {% if protocol_device.firmware %}
                        <a href="{% url 'fw_details' pk=protocol_device.firmware.id tab_id=1 %}">{{ protocol_device.firmware }}</a>
                        {% endif %}
                        <a href="{% url 'protocol_device_fw_update' pk=protocol_device.id %}"><i class="step fi-pencil"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>{% trans "Sample" %}: </td>
                    <td>
                        {% if protocol_device.sample %}
                        {{ protocol_device.sample.sn }}
                        {% endif %}
                        <a href="{% url 'protocol_device_sample_update' pk=protocol_device.id %}"><i class="step fi-pencil"></i></a>
                    </td>
                </tr>
            </table>
            <p>
                <a href="{% url 'protocol_device_update' pk=protocol_device.id %}" class="button small">{% trans "Update" %}</a>
                <a href="{% url 'protocol_device_delete' pk=protocol_device.id %}" class="button small alert">{% trans "Delete" %}</a>
            </p>
        </div>
        {% endfor %}
        {% endif %}
    </div>

</div>

{% endblock %}