{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p><a href="{% url 'device_types' %}">{% trans "Device Types" %}</a> &raquo; {{ device_type }}</p>

<ul class="tabs" data-tabs id="type-tabs">
    <li class="tabs-title{% if tab_id == 1 %} is-active{% endif %}"><a href="#general" aria-selected="true">{% trans "General" %}</a></li>
    <li class="tabs-title{% if tab_id == 2 %} is-active{% endif %}"><a data-tabs-target="redmine" href="#redmine">{% trans "Redmine" %}</a></li>
</ul>

<div class="tabs-content" data-tabs-content="type-tabs">
    <div class="tabs-panel{% if tab_id == 1 %} is-active{% endif %}" id="general">
        <a href="{% url 'device_type_update' pk=device_type.id %}" class="button small">{% trans "Update" %}</a>
        <a href="{% url 'device_type_delete' pk=device_type.id %}" class="button alert small">{% trans "Delete" %}</a>

                <table class="hover unstriped">
            <tbody>
            <tr>
                <td>{% trans "Tag" %}:</td>
                <td>{{ device_type.tag }}</td>
            </tr>
            <tr>
                <td>{% trans "Description" %}:</td>
                <td>{{ device_type.desc }}</td>
            </tr>
            <tr>
                <td>{% trans "Genitive Description" %}:</td>
                <td>{{ device_type.desc_genitive }}</td>
            </tr>
            <tr>
                <td>{% trans "Created" %}:</td>
                <td>{{ device_type.created_at }} ({{ device_type.created_by }})</td>
            </tr>
            <tr>
                <td>{% trans "Last Update" %}:</td>
                <td>{{ device_type.updated_at }} ({{ device_type.updated_by }})</td>
            </tr>
            </tbody>
        </table>

    </div>

  <div class="tabs-panel{% if tab_id == 2 %} is-active{% endif %}" id="redmine">
      {% if device_type.redmine_project %}

      <form method="post" action="{% url 'export_device_type' %}">
          {% csrf_token %}
          <input type="hidden" name="device_type" value="{{ device_type.id }}">
          <input type="submit" value='{% trans "Export" %}' class="button success small" />
      </form>

      <table>
          <tr>
              <td>{% trans "Project ID" %}:</td>
              <td>{{ device_type.redmine_project }}</td>
          </tr>
          <tr>
              <td>{% trans "Project Name" %}:</td>
              <td>{{ device_type.redmine_project_name }}</td>
          </tr>
          <tr>
              <td>{% trans "Project Wiki" %}:</td>
              {% if redmine_wiki.0 %}
              <td><a href="{{ redmine_wiki.1 }}">{{ redmine_wiki.1 }}</a></td>
              {% else %}
              <td>{{ redmine_wiki.1 }}</td>
              {% endif %}
          </tr>
      </table>
      {% else %}
      <a href="{% url 'device_type_update' pk=device_type.id %}">{% trans "Project ID is not set" %}</a>
      {% endif %}
  </div>
</div>

{% endblock %}