{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p><a href="{% url 'patterns' %}">{% trans "Testplan Pattern" %}</a> &raquo; {{ pattern.name}}</p>

<p><a href="{% url 'pattern_update' pk=pattern.id %}" class="button small">{% trans "Update" %}</a>
<a href="{% url 'pattern_delete' pk=pattern.id %}" class="button alert small">{% trans "Delete" %}</a></p>

<ul class="tabs" data-tabs id="example-tabs">
    <li class="tabs-title"><a href="#panel1" aria-selected="true">{% trans "Titles" %}</a></li>
    <li class="tabs-title"><a data-tabs-target="panel2" href="#panel2">{% trans "Versions" %}</a></li>
    <li class="tabs-title is-active"><a data-tabs-target="panel3" href="#panel3">{% trans "Tests" %}</a></li>
</ul>

<div class="tabs-content" data-tabs-content="example-tabs">
    <div class="tabs-panel" id="panel1">
        <table class="hover unstriped">
            <tbody>
            <tr>
                <td>tag</td>
                <td>test</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="tabs-panel" id="panel2">
        tab2
    </div>

    <div class="tabs-panel is-active" id="panel3">
        tab3
    </div>
</div>

{% endblock %}
