{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p><a href="{% url 'testplans' tab_id=2 %}">{% trans "Patterns" %}</a> &raquo; {{ pattern.name}}</p>

<ul class="tabs" data-tabs id="pattern-tabs">
    <li class="tabs-title {% if tab_id == 1 %} is-active{% endif %}">
        <a data-tabs-target="general" href="#general">{% trans "General" %}</a></li>
    <li class="tabs-title {% if tab_id == 2 %} is-active{% endif %}">
        <a data-tabs-target="head" href="#head">{% trans "Headings" %}</a></li>
    <li class="tabs-title {% if tab_id == 3 %} is-active{% endif %}">
        <a data-tabs-target="redmine" href="#redmine">{% trans "Redmine" %}</a></li>
</ul>

<div class="tabs-content" data-tabs-content="pattern-tabs">
    <div class="tabs-panel {% if tab_id == 1 %}is-active{% endif %}" id="general">
        <a href="{% url 'pattern_update' pk=pattern.id %}" class="button small">{% trans "Update" %}</a>
        <a href="{% url 'pattern_delete' pk=pattern.id %}" class="button alert small">{% trans "Delete" %}</a>

        <table class="hover unstriped">
            <tbody>
            <tr>
                <td>{% trans "Pattern name" %}:</td>
                <td>{{ pattern.name }}</td>
            </tr>
            <tr>
                <td>{% trans "Created" %}:</td>
                <td>{{ pattern.created_at }} ({{ pattern.created_by }})</td>
            </tr>
            <tr>
                <td>{% trans "Last Update" %}:</td>
                <td>{{ pattern.updated_at }} ({{ pattern.updated_by }})</td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="tabs-panel {% if tab_id == 2 %}is-active{% endif %}" id="head">
        2
    </div>

    <div class="tabs-panel {% if tab_id == 3 %}is-active{% endif %}" id="redmine">
        {% if pattern.redmine_project %}

        <form method="post" action="{% url 'export_pattern' %}">
            {% csrf_token %}
            <input type="hidden" name="pattern" value="{{ pattern.id }}">
            <input type="submit" value='{% trans "Export" %}' class="button success small" />
        </form>

        <table>
            <tr>
                <td>{% trans "Parent Project ID" %}:</td>
                <td>{{ pattern.redmine_parent }}</td>
            </tr>
            <tr>
                <td>{% trans "Project ID" %}:</td>
                <td>{{ pattern.redmine_project }}</td>
            </tr>
            <tr>
                <td>{% trans "Project Wiki" %}:</td>
                {% if redmine_wiki.0 %}
                <td><a href="{{ redmine_wiki.1 }}">{{ redmine_wiki.1 }}</a></td>
                {% else %}
                <td>{{ redmine_wiki.1 }}</td>
                {% endif %}
            </tr>
            </table>
        {% else %}
            <a href="{% url 'pattern_update' pk=pattern.id %}">{% trans "Project ID is not set" %}</a>
        {% endif %}
    </div>

</div>

{% endblock %}
