{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p><a href="{% url 'testplans' tab_id=2 %}">{% trans "Patterns" %}</a> &raquo; {{ pattern.name}}</p>

<ul class="tabs" data-tabs id="pattern-tabs">
    <li class="tabs-title is-active"><a href="#general" aria-selected="true">{% trans "General" %}</a></li>
    <li class="tabs-title"><a data-tabs-target="headings" href="#headings">{% trans "Headings" %}</a></li>
    <li class="tabs-title"><a data-tabs-target="redmine" href="#redmine">{% trans "Redmine" %}</a></li>
</ul>

<div class="tabs-content" data-tabs-content="pattern-tabs">
    <div class="tabs-panel is-active" id="general">
        <a href="{% url 'pattern_update' pk=pattern.id %}" class="button small">{% trans "Update" %}</a>
        <a href="{% url 'pattern_delete' pk=pattern.id %}" class="button alert small">{% trans "Delete" %}</a>
    </div>
    <div class="tabs-panel" id="headings">
        2
    </div>

    <div class="tabs-panel" id="redmine">
        {% if pattern.redmine_project %}
        <a href="#" class="button small">{% trans "Export" %}</a>
        <table>
            <tr>
                <td>{% trans "Project ID" %}:</td>
                <td>{{ pattern.redmine_project }}</td>
            </tr>
            <tr>
                <td>{% trans "Project Wiki" %}:</td>
                {% if redmine_wiki.0 %}
                <td><a href="{{ redmine_wiki.1 }}">{{ redmine_wiki.1 }}</a></td>
                {% else %}
                <td>{{ redmine_wiki.1 }}</td>
                {% endif %}
            </tr>
            </table>
        {% else %}
            <a href="{% url 'pattern_update' pk=pattern.id %}">{% trans "Project ID is not set" %}</a>
        {% endif %}
    </div>

</div>

{% endblock %}
