{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p><a href="{% url 'testplans' tab_id=1 %}">{% trans "Testplans" %}</a> &raquo; {{ testplan.name}}</p>

<ul class="tabs" data-tabs id="testplan-tabs">
    <li class="tabs-title {% if tab_id == 1 %} is-active{% endif %}">
        <a data-tabs-target="general" href="#general">{% trans "General" %}</a></li>
    <li class="tabs-title {% if tab_id == 2 %} is-active{% endif %}">
        <a data-tabs-target="terms" href="#terms">{% trans "Terms and Conditions" %}</a></li>
    <li class="tabs-title {% if tab_id == 3 %} is-active{% endif %}">
        <a data-tabs-target="tests" href="#tests">{% trans "Tests" %}</a></li>
    <li class="tabs-title {% if tab_id == 4 %} is-active{% endif %}">
        <a data-tabs-target="docx" href="#docx">{% trans "Docx" %}</a></li>
    <li class="tabs-title {% if tab_id == 5 %} is-active{% endif %}">
        <a data-tabs-target="redmine" href="#redmine">{% trans "Redmine" %}</a></li>
</ul>

<div class="tabs-content" data-tabs-content="testplan-tabs">
    <div class="tabs-panel {% if tab_id == 1 %}is-active{% endif %}" id="general">
        <a href="{% url 'testplan_update' pk=testplan.id %}" class="button small">{% trans "Update" %}</a>
        <a href="{% url 'testplan_delete' pk=testplan.id %}" class="button alert small">{% trans "Delete" %}</a>

        <table class="hover unstriped">
            <tbody>
            <tr>
                <td>{% trans "Document name" %}:</td>
                <td>{{ testplan.name }}</td>
            </tr>
            <tr>
                <td>{% trans "Document version" %}:</td>
                <td>{{ testplan.version }}</td>
            </tr>
            <tr>
                <td>{% trans "Device type" %}:</td>
                <td>{{ testplan.device_type.tag }}</td>
            </tr>
            <tr>
                <td>{% trans "Created" %}:</td>
                <td>{{ testplan.created_at }} ({{ testplan.created_by }})</td>
            </tr>
            <tr>
                <td>{% trans "Last Update" %}:</td>
                <td>{{ testplan.updated_at }} ({{ testplan.updated_by }})</td>
            </tr>
            <tr>
                <td>{% trans "Tests amount" %}:</td>
                <td>{{ amount_of_tests }}</td>
            </tr>
            </tbody>
        </table>
    </div>


  <div class="tabs-panel {% if tab_id == 2 %}is-active{% endif %}" id="terms">
      <form method="post" action="/redmine/import_all_chapters/">
          <a href="{% url 'chapter_create' testplan_id=testplan.id %}" class="button small">{% trans "Add" %}</a>
          {% csrf_token %}
          <input type="hidden" name="testplan_id" value="{{ testplan.id }}">
          <input type="hidden" name="redmine_url" value="{{ testplan.redmine_url }}">
          <input type="hidden" name="tag" value="{{ testplan.device_type.tag }}">
          <input type="submit" value='{% trans "Add chapters from Redmine" %}' class="button success small" />
          <a href="{% url 'clear_chapters' testplan_id=testplan.id %}" class="button small alert">
              {% trans "Clear" %}</a>
      </form>

      <ul style="list-style: none">
          {% for chapter in chapters %}
          <li>
              <a href="{% url 'chapter_details' testplan_id=testplan.id chapter_id=chapter.id %}">
                  {{ forloop.counter }}. {{ chapter.name }}</a>
              <a href="{% url 'chapter_update' testplan_id=testplan.id pk=chapter.id %}"><i class="step fi-pencil"></i></a>
              <a href="{% url 'chapter_delete' testplan_id=testplan.id pk=chapter.id %}"><i class="step fi-minus" style="color: #bc104b"></i></a>
          </li>
          {% endfor %}
      </ul>
  </div>


  <div class="tabs-panel {% if tab_id == 3 %}is-active{% endif %}" id="tests">
      <form method="post" action="/redmine/import_all_tests/">
          <a href="{% url 'category_create' testplan_id=testplan.id %}" class="button small">{% trans "Add" %}</a>
          {% csrf_token %}
          <input type="hidden" name="testplan_id" value="{{ testplan.id }}">
          <input type="hidden" name="redmine_url" value="{{ testplan.redmine_url }}">
          <input type="hidden" name="tag" value="{{ testplan.device_type.tag }}">
          <input type="submit" value='{% trans "Add tests from Redmine" %}' class="button success small" />
          <a href="{% url 'clear_tests' testplan_id=testplan.id %}" class="button small alert">{% trans "Clear" %}</a>
        </form>
      <br>
      {% for category in categories %}
      <ul style="list-style: none">
          <li>
              <b>{{ forloop.counter }}. {{ category.name }}</b>
              <a href="{% url 'category_update' testplan_id=testplan.id pk=category.id %}"><i class="step fi-pencil"></i></a>
              <a href="{% url 'category_delete' testplan_id=testplan.id pk=category.id %}">
                  <i class="step fi-minus" style="color: #bc104b"></i></a>
              {% for test in category.tests %}
              <ul style="list-style: none">
                  <li>
                      <a href="{% url 'test_details' testplan_id=testplan.id pk=test.id tab_id=1 %}">
                          {{forloop.parentloop.counter}}.{{ forloop.counter }}. {{ test.name }}</a>
                  </li>
              </ul>
              {% endfor %}
              <blockquote><a href="{% url 'test_create' testplan_id=testplan.id category_id=category.id %}">
                  <i class="step fi-plus"></i></a></blockquote>
          </li>
      </ul>
      {% endfor %}
  </div>

  <div class="tabs-panel {% if tab_id == 4 %}is-active{% endif %}" id="docx">
      <form method="post" action="/paper/testplan/">
          {% csrf_token %}
          <input type="hidden" name="testplan_id" value="{{ testplan.id }}">
          <input type="submit" value='{% trans "Build" %}' class="button success small" />
      </form>
  </div>

  <div class="tabs-panel {% if tab_id == 5 %}is-active{% endif %}" id="redmine">
      {% if testplan.redmine_project %}

      <form method="post" action="{% url 'export_testplan' %}">
          {% csrf_token %}
          <input type="hidden" name="testplan" value="{{ testplan.id }}">
          <input type="submit" value='{% trans "Export" %}' class="button success small" />
      </form>

      <table>
          <tr>
              <td>{% trans "Parent Project ID" %}:</td>
              <td>{{ testplan.redmine_parent }}</td>
          </tr>
          <tr>
              <td>{% trans "Project ID" %}:</td>
              <td>{{ testplan.redmine_project }}</td>
          </tr>
          <tr>
              <td>{% trans "Wiki" %}:</td>
              {% if redmine_wiki.0 %}
              <td><a href="{{ redmine_wiki.1 }}">{{ redmine_wiki.1 }}</a></td>
              {% else %}
              <td>{{ redmine_wiki.1 }}</td>
              {% endif %}
          </tr>
      </table>

      {% else %}
      <a href="{% url 'testplan_update' pk=testplan.id %}">{% trans "Project ID is not set" %}</a>
      {% endif %}
  </div>

</div>

{% endblock %}
