{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p><a href="{% url 'testplans' %}">{% trans "Testplan" %}</a> &raquo; {{ testplan.name}}</p>

<ul class="tabs" data-tabs id="example-tabs">
    <li class="tabs-title"><a href="#panel1" aria-selected="true">{% trans "General" %}</a></li>
    <li class="tabs-title"><a data-tabs-target="panel2" href="#panel2">{% trans "Terms and Conditions" %}</a></li>
    <li class="tabs-title is-active"><a data-tabs-target="panel3" href="#panel3">{% trans "Tests" %}</a></li>
</ul>

<div class="tabs-content" data-tabs-content="example-tabs">
    <div class="tabs-panel" id="panel1">
        <form method="post" action="/paper/testplan/">
          {% csrf_token %}
          <input type="hidden" name="testplan_id" value="{{ testplan.id }}">
          <input type="submit" value='{% trans "Make .docx" %}' class="button success small" />
            <a href="{% url 'testplan_update' pk=testplan.id %}" class="button small">{% trans "Update" %}</a>
            <a href="{% url 'testplan_delete' pk=testplan.id %}" class="button alert small">{% trans "Delete" %}</a>
        </form>

        <table class="hover unstriped">
            <tbody>
            <tr>
                <td>{% trans "Document name" %}:</td>
                <td>{{ testplan.name }}</td>
            </tr>
            <tr>
                <td>{% trans "Document version" %}:</td>
                <td>{{ testplan.version }}</td>
            </tr>
            <tr>
                <td>{% trans "Device type" %}:</td>
                <td>{{ testplan.device_type.tag }}</td>
            </tr>
            <tr>
                <td>{% trans "Created by" %}:</td>
                <td>{{ testplan.created_by }}</td>
            </tr>
            <tr>
                <td>{% trans "Created at" %}:</td>
                <td>{{ testplan.created_at }}</td>
            </tr>
            <tr>
                <td>{% trans "Updated by" %}:</td>
                <td>{{ testplan.updated_by }}</td>
            </tr>
            <tr>
                <td>{% trans "Updated at" %}:</td>
                <td>{{ testplan.updated_at }}</td>
            </tr>
            <tr>
                <td>{% trans "Redmine URL" %}:</td>
                <td>{{ testplan.redmine_url }}</td>
            </tr>
            <tr>
                <td>{% trans "Tests amount" %}:</td>
                <td>{{ amount_of_tests }}</td>
            </tr>
            </tbody>
        </table>
    </div>


  <div class="tabs-panel" id="panel2">
      <form method="post" action="/redmine/import_all_chapters/">
          <a href="{% url 'chapter_create' testplan_id=testplan.id %}" class="button small">{% trans "Add Chapter" %}</a>
          {% csrf_token %}
          <input type="hidden" name="testplan_id" value="{{ testplan.id }}">
          <input type="hidden" name="redmine_url" value="{{ testplan.redmine_url }}">
          <input type="hidden" name="tag" value="{{ testplan.device_type.tag }}">
          <input type="submit" value='{% trans "Add chapters from Redmine" %}' class="button success small" />
          <a href="{% url 'chapter_clear_all' testplan_id=testplan.id %}" class="button small alert">{% trans "Clear Chapters" %}</a>
      </form>

      <ul style="list-style: none">
          {% for chapter in chapters %}
          <li>
              <a href="{% url 'chapter_details' testplan_id=testplan.id chapter_id=chapter.id %}">
                  {{ forloop.counter }}. {{ chapter.name }}</a>
              <a href="{% url 'chapter_update' testplan_id=testplan.id pk=chapter.id %}"><i class="step fi-pencil"></i></a>
              <a href="{% url 'chapter_delete' testplan_id=testplan.id pk=chapter.id %}"><i class="step fi-minus" style="color: #bc104b"></i></a>
          </li>
          {% endfor %}
      </ul>
  </div>


  <div class="tabs-panel is-active" id="panel3">
      <form method="post" action="/redmine/import_all_tests/">
          <a href="{% url 'category_create' testplan_id=testplan.id %}" class="button small">{% trans "Add Category" %}</a>
          {% csrf_token %}
          <input type="hidden" name="testplan_id" value="{{ testplan.id }}">
          <input type="hidden" name="redmine_url" value="{{ testplan.redmine_url }}">
          <input type="hidden" name="tag" value="{{ testplan.device_type.tag }}">
          <input type="submit" value='{% trans "Add tests from Redmine" %}' class="button success small" />
          <a href="{% url 'test_clear_all' testplan_id=testplan.id %}" class="button small alert">{% trans "Clear Tests" %}</a>
        </form>
      <br>
      {% for category in categories %}
      <ul style="list-style: none">
          <li>
              <b>{{ forloop.counter }}. {{ category.name }}</b>
              <a href="{% url 'category_update' testplan_id=testplan.id pk=category.id %}"><i class="step fi-pencil"></i></a>
              <a href="{% url 'category_delete' testplan_id=testplan.id pk=category.id %}">
                  <i class="step fi-minus" style="color: #bc104b"></i></a>
              {% for test in category.tests %}
              <ul style="list-style: none">
                  <li>
                      <a href="test/{{ test.id }}/">{{forloop.parentloop.counter}}.{{ forloop.counter }}. {{ test.name }}</a>
                      <a href="{% url 'test_update' testplan_id=testplan.id pk=test.id %}"><i class="step fi-pencil"></i></a>
                      <a href="{% url 'test_delete' testplan_id=testplan.id pk=test.id %}"><i class="step fi-minus" style="color: #bc104b"></i></a>
                  </li>
              </ul>
              {% endfor %}
              <blockquote><a href="{% url 'test_create' testplan_id=testplan.id category_id=category.id %}">
                  <i class="step fi-plus"></i></a></blockquote>
          </li>
      </ul>
      {% endfor %}
  </div>
</div>

{% endblock %}
