{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<ul class="tabs" data-tabs id="example-tabs">
    <li class="tabs-title {% if tab_id == 1 %} is-active{% endif %}">
        <a href="#p_testplans" aria-selected="true">{% trans "Testplans" %}</a></li>
    <li class="tabs-title {% if tab_id == 2 %} is-active{% endif %}">
        <a data-tabs-target="p_patterns" href="#p_patterns">{% trans "Patterns" %}</a></li>
</ul>

<div class="tabs-content" data-tabs-content="example-tabs">
    <div class="tabs-panel {% if tab_id == 1 %}is-active{% endif %}" id="p_testplans">
        <a href="{% url 'create_testplan' %}" class="button small">{% trans "Create" %}</a>
        <table id="testplans" class="display" style="width:100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Version" %}</th>
                <th>{% trans "Device Type" %}</th>
                <th>{% trans "Last Update" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for testplan in testplans %}
            <tr>
                <td>{{ testplan.id }}</td>
                <td>{{ testplan.name }}</td>
                <td>{{ testplan.version }}</td>
                <td>{{ testplan.device_type.tag }}</td>
                <td>{{ testplan.updated_at }} ({{ testplan.updated_by }})</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="tabs-panel {% if tab_id == 2 %}is-active{% endif %}" id="p_patterns">
        <a href="{% url 'create_pattern' %}" class="button small">{% trans "Create" %}</a>
        <table id="patterns" class="display" style="width:100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Last Update" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for pattern in patterns %}
            <tr>
                <td>{{ pattern.id }}</td>
                <td>{{ pattern.name }}</td>
                <td>{{ pattern.updated_at }} ({{ pattern.updated_by }})</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
  $(document).ready(function() {
      var table = $('#testplans').DataTable( {
      {% if LANGUAGE_CODE == 'ru' %}
          "language": { "url": "{% static '/DataTables/i18n/Russian.json' %}" },
      {% endif %}
          "pageLength": 100,
          "order": [[ 0, "desc" ]]
      } );

      $('#testplans tbody').on('click', 'tr', function () {
          var data = table.row( this ).data();
		  window.open(data[0]+"/","_self");
      } );
  } );

  $(document).ready(function() {
      var table = $('#patterns').DataTable( {
      {% if LANGUAGE_CODE == 'ru' %}
          "language": { "url": "{% static '/DataTables/i18n/Russian.json' %}" },
      {% endif %}
          "pageLength": 100,
          "order": [[ 0, "desc" ]]
      } );

      $('#patterns tbody').on('click', 'tr', function () {
          var data = table.row( this ).data();
		  window.open(data[0]+"/","_self");
      } );
  } );

</script>

<script type="text/javascript" src="{% static 'DataTables/datatables.js' %}"></script>

{% endblock %}
