{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p><a href="{% url 'testplans' tab_id=1 %}">{% trans "Testplans" %}</a> &raquo; {{ testplan.name}}</p>

<ul class="tabs" data-tabs id="testplan-tabs">
    <li class="tabs-title {% if tab_id == 1 %} is-active{% endif %}">
        <a data-tabs-target="general" href="#general">{% trans "General" %}</a></li>
    <li class="tabs-title {% if tab_id == 2 %} is-active{% endif %}">
        <a data-tabs-target="chapters" href="#chapters">{% trans "Chapters" %}
        {% if chapters.count > 0 %}({{ chapters.count }}){% endif %}</a></li>
    <li class="tabs-title {% if tab_id == 3 %} is-active{% endif %}">
        <a data-tabs-target="tests" href="#tests">{% trans "Tests" %}
        {% if tests_count > 0 %}({{ tests_count }}){% endif %}</a></li>
    <li class="tabs-title {% if tab_id == 4 %} is-active{% endif %}">
        <a data-tabs-target="docx" href="#docx">{% trans "Docx" %}</a></li>
    <li class="tabs-title {% if tab_id == 5 %} is-active{% endif %}">
        <a data-tabs-target="redmine" href="#redmine">{% trans "Redmine" %}</a></li>
</ul>

<div class="tabs-content" data-tabs-content="testplan-tabs">
    <div class="tabs-panel {% if tab_id == 1 %}is-active{% endif %}" id="general">
        <a href="{% url 'testplan_update' pk=testplan.id %}" class="button small">{% trans "Update" %}</a>
        <a href="{% url 'testplan_clone' pk=testplan.id %}" class="button small">{% trans "Clone" %}</a>
        <a href="{% url 'testplan_delete' pk=testplan.id %}" class="button alert small">{% trans "Delete" %}</a>

        <table class="hover unstriped">
            <tbody>
            <tr>
                <td>{% trans "Document name" %}:</td>
                <td>{{ testplan.name }}</td>
            </tr>
            <tr>
                <td>{% trans "Document version" %}:</td>
                <td>{{ testplan.version }}</td>
            </tr>
            <tr>
                <td>{% trans "Device type" %}:</td>
                <td>{{ testplan.device_type.tag }}</td>
            </tr>
            <tr>
                <td>{% trans "Created" %}:</td>
                <td>{{ testplan.created_at }} ({{ testplan.created_by }})</td>
            </tr>
            <tr>
                <td>{% trans "Last Update" %}:</td>
                <td>{{ testplan.updated_at }} ({{ testplan.updated_by }})</td>
            </tr>
            <tr>
                <td>{% trans "Protocols amount" %}:</td>
                <td>{{ protocols_count }}</td>
            </tr>
            </tbody>
        </table>
    </div>


  <div class="tabs-panel {% if tab_id == 2 %}is-active{% endif %}" id="chapters">
      <form method="post" action="/redmine/import_all_chapters/">
          <a href="{% url 'chapter_create' tp_id=testplan.id %}" class="button small">{% trans "Add" %}</a>
          {% csrf_token %}
          <input type="hidden" name="testplan_id" value="{{ testplan.id }}">
          <input type="hidden" name="redmine_url" value="{{ testplan.redmine_url }}">
          <input type="hidden" name="tag" value="{{ testplan.device_type.tag }}">
          <a href="{% url 'clear_chapters' tp_id=testplan.id %}" class="button small alert">{% trans "Clear" %}</a>
      </form>

      <ul style="list-style: none">
          {% for chapter in chapters %}
          <li>
              <a href="{% url 'chapter_details' pk=chapter.id %}">
                  {{ forloop.counter }}. {{ chapter.name }}</a>
              <a href="{% url 'chapter_update' pk=chapter.id %}"><i class="step fi-pencil"></i></a>
              <a href="{% url 'chapter_delete' pk=chapter.id %}"><i class="step fi-minus" style="color: #bc104b"></i></a>
          </li>
          {% endfor %}
      </ul>
  </div>


  <div class="tabs-panel {% if tab_id == 3 %}is-active{% endif %}" id="tests">
      <form method="post" action="/redmine/import_all_tests/">
          <a href="{% url 'category_create' tp_id=testplan.id %}" class="button small">{% trans "Add" %}</a>
          {% csrf_token %}
          <input type="hidden" name="testplan_id" value="{{ testplan.id }}">
          <input type="hidden" name="redmine_url" value="{{ testplan.redmine_url }}">
          <input type="hidden" name="tag" value="{{ testplan.device_type.tag }}">
          <a href="{% url 'clear_tests' tp_id=testplan.id %}" class="button small alert">{% trans "Clear" %}</a>
        </form>
      <br>
      {% for category in categories %}
      <ul style="list-style: none">
          <li>
              <b>{{ forloop.counter }}. {{ category.name }}</b>
              <a href="{% url 'category_update' pk=category.id %}"><i class="step fi-pencil"></i></a>
              <a href="{% url 'category_delete' pk=category.id %}">
                  <i class="step fi-minus" style="color: #bc104b"></i></a>
              {% for test in category.category_test.all|dictsort:"id" %}
              <ul style="list-style: none">
                  <li>
                      <a href="{% url 'test_details' pk=test.id tab_id=1 %}">
                          {{forloop.parentloop.counter}}.{{ forloop.counter }}. {{ test.name }}</a>
                  </li>
              </ul>
              {% endfor %}
              <blockquote><a href="{% url 'test_create' category_id=category.id %}">
                  <i class="step fi-plus"></i></a></blockquote>
          </li>
      </ul>
      {% endfor %}
  </div>

  <div class="tabs-panel {% if tab_id == 4 %}is-active{% endif %}" id="docx">
      <form method="post" action="/paper/testplan/">
          {% csrf_token %}
          <input type="hidden" name="testplan_id" value="{{ testplan.id }}">
          <input type="submit" value='{% trans "Build" %}' class="button success small" />
      </form>
  </div>

  <div class="tabs-panel {% if tab_id == 5 %}is-active{% endif %}" id="redmine">
      <div class="grid-x grid-margin-x">
          <div class="cell">
              <div class="card">
                  <div class="card-section">
                      <h4>Project Information</h4>
                      <table>
                          {% if testplan.redmine_project %}
                          <tr>
                              <td>Wiki URL:</td>
                              <td>
                                  <a href="{{ redmine_url }}/projects/{{ testplan.redmine_project }}/wiki/">
                                      {{ redmine_url }}/projects/{{ testplan.redmine_project }}/wiki/
                                  </a>
                              </td>
                          </tr>
                          {% else %}
                          <tr>
                              <td>
                                  <a href="{% url 'testplan_update' pk=testplan.id %}">{% trans "Project ID is not set" %}</a>
                              </td>
                          </tr>
                          {% endif %}
                      </table>
                  </div>
              </div>
          </div>
      </div>

      <div class="grid-x grid-margin-x small-up-2 medium-up-2">
            <div class="cell">
                <div class="card">
                  <div class="card-section">
                    <h4>Export</h4>
                    <p>Click to send testplan details to Redmine Wiki.</p>
                      <form method="post" action="{% url 'export_testplan' %}">
                          {% csrf_token %}
                          <input type="hidden" name="testplan" value="{{ testplan.id }}">
                          <input type="submit" value='{% trans "Export" %}' class="button success small" />
                          {{ redmine_export_form.as_p }}
                      </form>
                  </div>
                </div>
            </div>
            <div class="cell">
                <div class="card">
                  <div class="card-section">
                    <h4>Import</h4>
                    <p>Click to update testplan details from Redmine Wiki.</p>
                      <form method="post" action="{% url 'import_testplan' %}">
                          {% csrf_token %}
                          <input type="hidden" name="testplan" value="{{ testplan.id }}">
                          <input type="submit" value='{% trans "Import" %}' class="button alert small" />
                          {{ redmine_import_form.as_p }}
                      </form>
                  </div>
                </div>
            </div>
      </div>

  </div>

</div>

{% endblock %}
