{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<a href="/testplan/{{ testplan.id }}/" class="button">&laquo; {% trans "Back" %}</a>
<a href="/testplan/{{ testplan.id }}/category/{{ category.id }}/test/{{ test.id }}/update/" class="button">
    {% trans "Update" %}</a>
<a href="/testplan/{{ testplan.id }}/category/{{ category.id }}/test/{{ test.id }}/delete/" class="button alert">
    {% trans "Delete" %}</a>

<form method="post" action="/redmine/test_details_update/">
    {% csrf_token %}
    <input type="hidden" name="test_id" value="{{ test.id }}">
    <input type="hidden" name="redmine_url" value="{{ test.redmine_url }}">
    <input type="hidden" name="tag" value="{{ testplan.device_type.tag }}">
    <input type="submit" value='{% trans "Update from Redmine" %}' class="button" />
</form>


    <ul>
        <li>{{ testplan.name }}
            <ul>
                <li>{{ category.name }}</li>
            </ul>
        </li>
    </ul>

<ul class="accordion" data-accordion data-multi-expand="true">
    <li class="accordion-item is-active" data-accordion-item>
        <!-- Accordion tab title -->
        <a href="#" class="accordion-title">{% trans "Name" %}</a>
        <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
        <div class="accordion-content" data-tab-content>
            <div class="grid-x">{{ test.name }}</div>
        </div>
    </li>
    <li class="accordion-item is-active" data-accordion-item>
        <!-- Accordion tab title -->
        <a href="#" class="accordion-title">{% trans "Purpose" %}</a>
        <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
        <div class="accordion-content" data-tab-content>
            <div class="grid-x">{{ test.purpose }}</div>
        </div>
    </li>
    <li class="accordion-item is-active" data-accordion-item>
        <!-- Accordion tab title -->
        <a href="#" class="accordion-title">{% trans "Procedure" %}</a>
        <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
        <div class="accordion-content" data-tab-content>
            <div class="grid-x">
                {% autoescape on %}
                  {{ test.procedure | linebreaksbr }}
                {% endautoescape %}
            </div>
        </div>
    </li>
    <li class="accordion-item is-active" data-accordion-item>
        <!-- Accordion tab title -->
        <a href="#" class="accordion-title">{% trans "Expected result" %}</a>
        <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
        <div class="accordion-content" data-tab-content>
            <div class="grid-x">
                {% autoescape on %}
                  {{ test.expected | linebreaksbr }}
                {% endautoescape %}
            </div>
        </div>
    </li>
    <li class="accordion-item is-active" data-accordion-item>
        <!-- Accordion tab title -->
        <a href="#" class="accordion-title">{% trans "Redmine URL" %}</a>
        <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
        <div class="accordion-content" data-tab-content>
            <div class="grid-x">{{ test.redmine_url }}</div>
        </div>
    </li>
</ul>

{% endblock %}