{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<a href=".." class="button">&laquo; {% trans "Back" %}</a>
<a href="../update/{{ testplan.id }}/" class="button">{% trans "Update" %}</a>
<a href="../{{ testplan.id }}/category/create/" class="button">{% trans "Add Category" %}</a>
<a href="../delete/{{ testplan.id }}/" class="button alert">{% trans "Delete" %}</a>

<h4>{{ testplan.name}}</h4>

        <ul class="accordion" data-accordion data-multi-expand="true">

            {% for category in categories %}

            <li class="accordion-item is-active" data-accordion-item>
                <!-- Accordion tab title -->
                <a href="#" class="accordion-title">{{ category.name }}</a>
                <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                <div class="accordion-content" data-tab-content>
                    <div class="grid-x">
                        <a href="#" class="button small">{% trans "Add Test" %}</a>&nbsp;
                        <a href="category/update/{{ category.id }}/" class="button small">{% trans "Update" %}</a>&nbsp;
                        <a href="category/delete/{{ category.id }}/" class="button small alert">{% trans "Delete" %}</a>
                    </div>
                </div>
            </li>

            {% endfor %}

        </ul>


{% endblock %}
