{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p><a href="{% url 'testplans' tab_id=1 %}">{% trans "Testplan" %}</a> &raquo;
    <a href="{% url 'testplan_details' pk=testplan.id tab_id=3 %}">{{ testplan.name}}</a>
    &raquo; {{ test.name }}
</p>

<ul class="tabs" data-tabs id="test-tabs">
    <li class="tabs-title {% if tab_id == 1 %} is-active{% endif %}">
        <a data-tabs-target="general" href="#general">{% trans "General" %}</a></li>
    <li class="tabs-title {% if tab_id == 2 %} is-active{% endif %}">
        <a data-tabs-target="purpose" href="#purpose">{% trans "Purpose" %}</a></li>
    <li class="tabs-title {% if tab_id == 3 %} is-active{% endif %}">
        <a data-tabs-target="procedure" href="#procedure">{% trans "Procedure" %}</a></li>
    <li class="tabs-title {% if tab_id == 4 %} is-active{% endif %}">
        <a data-tabs-target="expected" href="#expected">{% trans "Expected result" %}</a></li>
    <li class="tabs-title {% if tab_id == 5 %} is-active{% endif %}">
        <a data-tabs-target="configs" href="#configs">{% trans "Configurations" %}
        {% if configs.count > 0 %}({{ configs.count }}){% endif %}</a></li>
    <li class="tabs-title {% if tab_id == 6 %} is-active{% endif %}">
        <a data-tabs-target="images" href="#images">{% trans "Images" %}
        {% if images.count > 0 %}({{ images.count }}){% endif %}</a></li>
    <li class="tabs-title {% if tab_id == 7 %} is-active{% endif %}">
        <a data-tabs-target="files" href="#files">{% trans "Files" %}
        {% if files.count > 0 %}({{ files.count }}){% endif %}</a></li>
    <li class="tabs-title {% if tab_id == 8 %} is-active{% endif %}">
        <a data-tabs-target="worksheets" href="#worksheets">{% trans "Worksheets" %}
        {% if worksheets_count > 0 %}({{ worksheets_count }}){% endif %}</a></li>
    <li class="tabs-title {% if tab_id == 9 %} is-active{% endif %}">
        <a data-tabs-target="links" href="#links">{% trans "Links" %}
        {% if links.count > 0 %}({{ links.count }}){% endif %}</a></li>
    <li class="tabs-title {% if tab_id == 10 %} is-active{% endif %}">
        <a data-tabs-target="comments" href="#comments">{% trans "Comments" %}
        {% if comments.count > 0 %}({{ comments.count }}){% endif %}</a></li>
    <li class="tabs-title {% if tab_id == 11 %} is-active{% endif %}">
        <a data-tabs-target="redmine" href="#redmine">{% trans "Redmine" %}</a></li>
</ul>

<div class="tabs-content" data-tabs-content="test-tabs">
    <div class="tabs-panel {% if tab_id == 1 %}is-active{% endif %}" id="general">
        <a href="{% url 'test_update' pk=test.id %}" class="button small">
            {% trans "Update" %}</a>
        <a href="{% url 'test_delete' pk=test.id %}" class="button alert small">
            {% trans "Delete" %}</a>
        <table class="hover unstriped">
            <tbody>
            <tr>
                <td>{% trans "Category" %}:</td>
                <td>{{ test.category.name }}</td>
            </tr>
            <tr>
                <td>{% trans "Test name" %}:</td>
                <td>{{ test.name }}</td>
            </tr>
            <tr>
                <td>{% trans "Created" %}:</td>
                <td>{{ test.created_at }} ({{ test.created_by }})</td>
            </tr>
            <tr>
                <td>{% trans "Last Update" %}:</td>
                <td>{{ test.updated_at }} ({{ test.updated_by }})</td>
            </tr>
            </tbody>
        </table>
  </div>

  <div class="tabs-panel {% if tab_id == 2 %}is-active{% endif %}" id="purpose">
    <p>{{ test.purpose }}</p>
  </div>

  <div class="tabs-panel {% if tab_id == 3 %}is-active{% endif %}" id="procedure">
    <p>{{ procedure|safe }}</p>
  </div>

  <div class="tabs-panel {% if tab_id == 4 %}is-active{% endif %}" id="expected">
    <p>{{ expected|safe }}</p>
  </div>

  <div class="tabs-panel {% if tab_id == 5 %}is-active{% endif %}" id="configs">
      <a href="{% url 'test_config_create' test_id=test.id %}" class="button small">
          {% trans "Add" %}</a>
      {% for config in configs %}
      {% if config.name %}<p>{{ config.name }}</p>{% endif %}
      <pre><code data-language="{{ config.lang }}">{{ config.config }}</code></pre>
      <a href="{% url 'test_config_update' pk=config.id %}" class="button small">Update</a>
      <a href="{% url 'test_config_delete' pk=config.id %}" class="button small alert">Delete</a>
      {% endfor %}
  </div>

  <div class="tabs-panel {% if tab_id == 6 %}is-active{% endif %}" id="images">
      <a href="{% url 'test_image_create' test_id=test.id %}" class="button small">{% trans "Add" %}</a>
      {% for image in images %}
      <p>{{ image.name }}</p>
      <p><img src="{{ image.image.url }}"
              {% if image.width != None %} width="{{ image.width }}" {% endif %}
              {% if image.height != None %} height="{{ image.height }}" {% endif %}
      ></p>
      <a href="{% url 'test_image_update' pk=image.id %}" class="button small">{% trans "Update" %}</a>
      <a href="{% url 'test_image_delete' pk=image.id %}" class="button small alert">{% trans "Delete" %}</a>
      {% endfor %}
  </div>

  <div class="tabs-panel {% if tab_id == 7 %}is-active{% endif %}" id="files">
      <a href="{% url 'test_file_create' test_id=test.id %}" class="button small">{% trans "Add" %}</a>
      {% for file in files %}
      <p><a href="{{ file.file.url }}">{{ file.name }}</a></p>
      <a href="{% url 'test_file_update' pk=file.id %}" class="button small">{% trans "Update" %}</a>
      <a href="{% url 'test_file_delete' pk=file.id %}" class="button small alert">{% trans "Delete" %}</a>
      {% endfor %}
  </div>

  <div class="tabs-panel {% if tab_id == 8 %}is-active{% endif %}" id="worksheets">
      <button class="button small" type="button" data-toggle="example-dropdown">{% trans "Add" %}</button>
      <div class="dropdown-pane" id="example-dropdown" data-dropdown data-auto-focus="true">
          <h4>{% trans "Add" %}</h4>
          <a href="{% url 'test_checklist_create' test_id=test.id %}" class="button small">{% trans "Checklist" %}</a>
          <a href="#" class="button small">{% trans "Table" %}</a>
          <a href="#" class="button small">{% trans "Value" %}</a>
      </div>

      {% if checklists %}
      <div class="card">
          <div class="card-section">
              <h4>{% trans "Checklists" %}</h4>
              {% for checklist in checklists %}
              <table>
                  <tr>
                      <td>
                          <ul style="list-style: none">
                              <li>
                                  <b>{{ checklist.name }}</b>
                                  <a href="{% url 'test_checklist_update' pk=checklist.id %}"><i class="step fi-pencil"></i></a>
                                  <a href="{% url 'test_checklist_delete' pk=checklist.id %}">
                                      <i class="step fi-minus" style="color: #bc104b"></i></a>
                                  {% for item in checklist.test_checklist_item.all|dictsort:"id" %}
                                  <ul style="list-style: none">
                                      <li>
                                          <i class="fi-checkbox"></i> {{ item.name }}
                                          <a href="{% url 'test_checklist_item_update' pk=item.id %}">
                                              <i class="step fi-pencil"></i></a>
                                          <a href="{% url 'test_checklist_item_delete' pk=item.id %}">
                                              <i class="step fi-minus" style="color: #bc104b"></i></a>
                                      </li>
                                  </ul>
                                  {% endfor %}

                                  <blockquote>
                                      <a href="{% url 'test_checklist_item_create' checklist_id=checklist.id %}">
                                          <i class="step fi-plus"></i></a>
                                  </blockquote>
                              </li>
                          </ul>
                      </td>
                  </tr>
              </table>
              {% endfor %}
          </div>
      </div>
      {% endif %}


      {% for worksheet in worksheets %}
      <ul style="list-style: none">
          <li>
              <b>{{ worksheet.name }}</b>
              <a href="{% url 'test_worksheet_update' testplan_id=testplan.id test_id=test.id pk=worksheet.id %}">
                  <i class="step fi-pencil"></i></a>
              <a href="{% url 'test_worksheet_delete' testplan_id=testplan.id test_id=test.id pk=worksheet.id %}">
                  <i class="step fi-minus" style="color: #bc104b"></i></a>
              {% for item in worksheet.items %}
              <ul style="list-style: none">
                  <li>
                      <i class="fi-checkbox"></i> {{ item.name }}
                      <a href="{% url 'worksheet_item_update' testplan_id=testplan.id test_id=test.id pk=item.id %}">
                          <i class="step fi-pencil"></i></a>
                      <a href="{% url 'worksheet_item_delete' testplan_id=testplan.id test_id=test.id pk=item.id %}">
                          <i class="step fi-minus" style="color: #bc104b"></i></a>
                  </li>
              </ul>
              {% endfor %}
              <blockquote>
                  <a href="{% url 'worksheet_item_create' testplan_id=testplan.id test_id=test.id worksheet_id=worksheet.id %}">
                  <i class="step fi-plus"></i></a>
              </blockquote>

          </li>
      </ul>
      {% endfor %}
  </div>

  <div class="tabs-panel {% if tab_id == 9 %}is-active{% endif %}" id="links">
      <a href="{% url 'test_link_create' test_id=test.id %}" class="button small">{% trans "Add" %}</a>
      {% for link in links %}
      <table>
          <tr>
              <td>{{ link.name }}</td>
          </tr>
          <tr>
              <td><a href="{{ link.url }}">{{ link.url }}</a></td>
          </tr>
      </table>
      <a href="{% url 'test_link_update' pk=link.id %}" class="button small">{% trans "Update" %}</a>
      <a href="{% url 'test_link_delete' pk=link.id %}" class="button small alert">{% trans "Delete" %}</a>
      {% endfor %}
  </div>

  <div class="tabs-panel {% if tab_id == 10 %}is-active{% endif %}" id="comments">
      <a href="{% url 'test_comment_create' test_id=test.id %}" class="button small">{% trans "Add" %}</a>
      {% for comment in comments %}
        <h5>{{ comment.name }}</h5>
        <p>{{ comment.text|safe }}</p>
        <a href="{% url 'test_comment_update' pk=comment.id %}" class="button small">{% trans "Update" %}</a>
        <a href="{% url 'test_comment_delete' pk=comment.id %}" class="button small alert">
            {% trans "Delete" %}</a>
      {% endfor %}
  </div>

  <div class="tabs-panel {% if tab_id == 11 %}is-active{% endif %}" id="redmine">
      <div class="grid-x grid-margin-x">
          <div class="cell">
              <div class="card">
                  <div class="card-section">
                      <h4>Project Information</h4>
                      <table>
                          <tr>
                              <td>Wiki URL:</td>
                              <td>
                                  {% if test.redmine_wiki %}
                                  <a href="{{ redmine_url }}/projects/{{ test.category.testplan.redmine_project }}/wiki/{{ test.redmine_wiki }}/">
                                      {{ redmine_url }}/projects/{{ test.category.testplan.redmine_project }}/wiki/{{ test.redmine_wiki }}/
                                  </a>
                                  {% else %}
                                  <a href="{% url 'test_update' pk=test.id %}">Not specified</a>
                                  {% endif %}
                              </td>
                          </tr>
                      </table>
                  </div>
              </div>
          </div>
      </div>

      <div class="grid-x grid-margin-x small-up-2 medium-up-2">
            <div class="cell">
                <div class="card">
                  <div class="card-section">
                    <h4>Export</h4>
                    <p>Click to send test details to Redmine Wiki.</p>
                      <form method="post" action="{% url 'export_test' %}">
                          {% csrf_token %}
                          <input type="hidden" name="test" value="{{ test.id }}">
                          <input type="submit" value='{% trans "Export" %}' class="button success small" />
                          {{ redmine_form.as_p }}
                      </form>
                  </div>
                </div>
            </div>
            <div class="cell">
                <div class="card">
                  <div class="card-section">
                    <h4>Import</h4>
                    <p>Click to update test details from Redmine Wiki.</p>
                      <form method="post" action="{% url 'import_test' %}">
                          {% csrf_token %}
                          <input type="hidden" name="test" value="{{ test.id }}">
                          <input type="submit" value='{% trans "Import" %}' class="button alert small" />
                          {{ redmine_form.as_p }}
                      </form>
                  </div>
                </div>
            </div>
      </div>

  </div>

</div>

<script src="{% static 'rainbow/rainbow-custom.min.js' %}"></script>

{% endblock %}
