{% extends "device/wrapper.html" %}

{% load i18n static %}

{% block content %}

<p>
    <a href="{% url 'device_types' %}">{% trans "Device Types" %}</a> &raquo;
    <a href="{% url 'device_type_details' pk=fl.device_type.id tab_id=1 %}">{{ fl.device_type }}</a> &raquo;
    {{ fl.name }}
</p>

<ul class="tabs" data-tabs id="fl-tabs">
    <li class="tabs-title {% if tab_id == 1 %} is-active{% endif %}">
        <a data-tabs-target="general" href="#general">{% trans "General" %}</a>
    </li>
    <li class="tabs-title {% if tab_id == 2 %} is-active{% endif %}">
        <a data-tabs-target="items" href="#items">{% trans "Items" %}</a>
    </li>
    <li class="tabs-title {% if tab_id == 3 %} is-active{% endif %}">
        <a data-tabs-target="files" href="#files">{% trans "Files" %}
            {% if files.count > 0 %} ({{ files.count }}){% endif %}
        </a>
    </li>
    <li class="tabs-title {% if tab_id == 4 %} is-active{% endif %}">
        <a data-tabs-target="links" href="#links">{% trans "Links" %}
            {% if links.count > 0 %} ({{ links.count }}){% endif %}
        </a>
    </li>
    <li class="tabs-title {% if tab_id == 5 %} is-active{% endif %}">
        <a data-tabs-target="docx" href="#docx">{% trans "Docx" %}</a>
    </li>
    <li class="tabs-title {% if tab_id == 6 %} is-active{% endif %}">
        <a data-tabs-target="redmine" href="#redmine">{% trans "Redmine" %}</a>
    </li>
</ul>

<div class="tabs-content" data-tabs-content="fl-tabs">
    <div class="tabs-panel {% if tab_id == 1 %}is-active{% endif %}" id="general">
        <a href="{% url 'fl_update' pk=fl.id %}" class="button small">{% trans "Update" %}</a>
        <a href="{% url 'fl_clone' pk=fl.id %}" class="button small">{% trans "Clone" %}</a>
        <a href="{% url 'fl_delete' pk=fl.id %}" class="button alert small">{% trans "Delete" %}</a>

        <table class="hover unstriped">
            <tbody>
            <tr>
                <td>{% trans "Document name" %}:</td>
                <td>{{ fl.name }}</td>
            </tr>
            <tr>
                <td>{% trans "Document version" %}:</td>
                <td>{{ fl.version }}</td>
            </tr>
            <tr>
                <td>{% trans "Device type" %}:</td>
                <td>{{ fl.device_type.tag }}</td>
            </tr>
            <tr>
                <td>{% trans "Last Update" %}:</td>
                <td>{{ fl.updated_at }} ({{ fl.updated_by }})</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="tabs-panel {% if tab_id == 2 %}is-active{% endif %}" id="items">
        <a href="{% url 'fl_category_create' fl_id=fl.id %}" class="button small">{% trans "Add" %}</a>
        <a href="{% url 'clear_fli' fl_id=fl.id %}" class="button small alert">{% trans "Clear" %}</a>
        <br>
        {% for category in categories %}
        <ul style="list-style: none">
            <li>
                <b>{{ forloop.counter }}. {{ category.name }}</b>
                <a href="{% url 'fl_category_update' pk=category.id %}"><i class="step fi-pencil"></i></a>
                <a href="{% url 'fl_category_delete' pk=category.id %}">
                    <i class="step fi-minus" style="color: #bc104b"></i></a>
                {% for item in category.category_item.all|dictsort:"id" %}
                <ul style="list-style: none">
                    <li>
                        <font color="#bc104b"><b>{{forloop.parentloop.counter}}.{{ forloop.counter }}</b></font>
                        &nbsp;&nbsp;{{ item.name }}
                        {% if item.optional %}
                        <font color="#bc104b"><b>({% trans "optional" %})</b></font>
                        {% endif %}
                        <a href="{% url 'fli_update' pk=item.id %}"><i class="step fi-pencil"></i></a>
                        <a href="{% url 'fli_delete' pk=item.id %}">
                            <i class="step fi-minus" style="color: #bc104b"></i></a>
                    </li>
                </ul>
                {% endfor %}
                <blockquote>
                    <a href="{% url 'fli_create' category_id=category.id %}"><i class="step fi-plus"></i></a>
                </blockquote>
            </li>
        </ul>
        {% endfor %}
    </div>

    <div class="tabs-panel {% if tab_id == 3 %}is-active{% endif %}" id="files">
        <a href="{% url 'fl_file_create' fl_id=fl.id %}" class="button small">{% trans "Add" %}</a>

        {% if files %}
        <table>
            <thead>
            <tr>
                <th>{% trans "File" %}</th>
                <th>{% trans "Description" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for file in files %}
            <tr>
                <td>
                    <a href="{{ file.file.url }}">{{ file.file.url }}</a>
                    <a href="{% url 'fl_file_update' pk=file.id %}"><i class="step fi-pencil"></i></a>
                    <a href="{% url 'fl_file_delete' pk=file.id %}"><i class="step fi-minus" style="color: #bc104b"></i></a>
                </td>
                <td>
                    {{ file.name }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>

    <div class="tabs-panel {% if tab_id == 4 %}is-active{% endif %}" id="links">
        <a href="{% url 'fl_link_create' fl_id=fl.id %}" class="button small">{% trans "Add" %}</a>

        {% if links %}
        <table>
            <thead>
            <tr>
                <th>{% trans "URL" %}</th>
                <th>{% trans "Description" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for link in links %}
            <tr>
                <td>
                    <a href="{{ link.url }}">{{ link.url }}</a>
                    <a href="{% url 'fl_link_update' pk=link.id %}"><i class="step fi-pencil"></i></a>
                    <a href="{% url 'fl_link_delete' pk=link.id %}"><i class="step fi-minus" style="color: #bc104b"></i></a>
                </td>
                <td>
                    {{ link.name }}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}

    </div>

    <div class="tabs-panel {% if tab_id == 5 %}is-active{% endif %}" id="docx">
      <form method="post" action="{% url 'build_feature_list' %}">
          {% csrf_token %}
          <input type="hidden" name="feature_list" value="{{ fl.id }}">
          <input type="submit" value='{% trans "Build" %}' class="button success small" />
          {{ docx_form.as_p }}
      </form>
    </div>

    <div class="tabs-panel {% if tab_id == 6 %}is-active{% endif %}" id="redmine">
        <div class="grid-x grid-margin-x">
            <div class="cell">
                <div class="card">
                    <div class="card-section">
                        <h4>Project Information</h4>
                        <table>
                            <tr>
                                <td>Wiki URL:</td>
                                <td>
                                    {% if fl.redmine_wiki %}
                                    <a href="{{ redmine_url }}/projects/{{ fl.device_type.redmine_project }}/wiki/{{ fl.redmine_wiki }}/">
                                        {{ redmine_url }}/projects/{{ fl.device_type.redmine_project }}/wiki/{{ fl.redmine_wiki }}/
                                    </a>
                                    {% else %}
                                    <a href="{% url 'fl_update' pk=fl.id %}">Not specified</a>
                                    {% endif %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid-x grid-margin-x small-up-2 medium-up-2">
            <div class="cell">
                <div class="card">
                  <div class="card-section">
                    <h4>{% trans "Export" %}</h4>
                    <p>{% trans "Send details to Redmine Wiki page" %}.</p>
                      <form method="post" action="{% url 'export_fl' %}">
                          {% csrf_token %}
                          <input type="hidden" name="feature_list" value="{{ fl.id }}">
                          <input type="submit" value='{% trans "Export" %}' class="button success small" />
                          {{ redmine_form.as_p }}
                      </form>
                  </div>
                </div>
            </div>
            <div class="cell">
                <div class="card">
                  <div class="card-section">
                    <h4>{% trans "Import" %}</h4>
                    <p>{% trans "Update details from Redmine Wiki page" %}.</p>
                      <form method="post" action="{% url 'import_fl' %}">
                          {% csrf_token %}
                          <input type="hidden" name="feature_list" value="{{ fl.id }}">
                          <input type="submit" value='{% trans "Import" %}' class="button alert small" />
                          {{ redmine_form.as_p }}
                      </form>
                  </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
